<html xmlns:th="http://thymeleaf.org">

    <link th:fragment="bootstrap-css" href="webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="../fonts/MyIcons/flaticon.css"/>
    <script th:fragment="jquery" src="webjars/jquery/2.1.3/jquery.min.js"></script>


    <nav th:fragment="cabecalho" class="cabecalho navbar navbar-trans" role="navigation">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <label class="cbp-ig-icon avocado-fruit68 logoheader"></label><label class="escritaheader">Inimigos à mesa</label>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapsible">
           


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-apple"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</html>