 <html xmlns:th="http://thymeleaf.org">

    <link th:fragment="bootstrap-css" type="text/css" href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link th:fragment="jqueryui-css" type="text/css"  href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link th:fragment="principal-css" type="text/css" href="/css/principal.css" rel="stylesheet"/>
    <link th:fragment="flaticon-css" href="/fonts/MyIcons/flaticon.css" rel="stylesheet" type="text/css" />
    <link th:fragment="busca-icon" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link th:fragment="busca-css" href="/css/buscaHeader.css" rel="stylesheet" type="text/css"/>

    <script th:fragment="bootstrap-js" type="text/javascript" src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:fragment="jquery" type="text/javascript" src="/webjars/jquery/2.1.3/jquery.min.js"/>
    <script th:fragment="jqueryui" type="text/javascript" src="/webjars/jquery-ui/1.11.4/jquery-ui.min.js"/>
    <script th:fragment="busca" type="text/javascript" src="/js/busca.js"/>
    <script th:fragment="query-string-js" type="text/javascript" src="/js/queryString.js"/>
    <script th:fragment="detalhe" type="text/javascript" src="/js/detalhe.js"/>
    <script th:fragment="formulario-alimento-js" type="text/javascript" src="/js/formularioAlimento.js"/>



    <link th:fragment="favicon-ico" rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

    <nav th:fragment="cabecalho-home(nomeUsuario)" class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll header-ajuste">
                <a class="navbar-brand navbar-header" href="/">Comer com saber</a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapsible">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-right page-scroll">
                            <div class="btn-search">
                                <span class="icon-search"/>
                                <i class="material-icons">search</i>
                                <svg id="btn-busca-header-inicial" height="38" width="38">
                                    <circle  class="btn-search-border" cx="20" cy="20" r="16" stroke="#ffffff" stroke-width="2" stroke-linecap="round"  fill="rgba(255,255,255,0)"/>
                                </svg>
                                <form class="search-form">
                                    <input class="search-box" type="busca-home" id="busca-header" maxlength="50"/>
                                    <input class="search-submit" type="submit"/>
                                </form>
                            </div>
                        </a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/grid">Alimentos</a>
                    </li>
                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/calculadora">Calculadora</a>
                    </li>
                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/sobre">Sobre</a>
                    </li>
                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/contato">Contato</a>
                    </li>
                    <li th:if="${#httpServletRequest.remoteUser != null}" class="dropdown itens-menu">
                        <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" th:text="${nomeUsuario}">Usuário<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/editarUsuario">Editar Perfil</a></li>
                            <li><a href="/cadastroAlimento">Cadastrar Alimento</a></li>
                            <li th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                                <li role="separator" class="divider"></li>
                                <li><a href="/cadastrarUsuario">Cadastrar Usuário</a></li>
                                <li><a href="/formularioDeletarUsuario">Deletar Usuário</a></li>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Sair</a></li>
                         </ul>
                    </li>
                </ul>
            </div>
        </div>


    </nav>

    <nav th:fragment="cabecalho(nomeUsuario)" class="navbar navbar-fixed-top navbar-inverse navbar-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll header-ajuste">
                <a class="navbar-brand navbar-header" href="/">Comer com saber</a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-right page-scroll">
                            <div class="btn-search">
                                <span class="icon-search"/>
                                <i class="material-icons">search</i>
                                <svg id="btn-busca-header-inicial" height="38" width="38">
                                    <circle  class="btn-search-border" cx="20" cy="20" r="16" stroke="#ffffff" stroke-width="2" stroke-linecap="round"  fill="rgba(255,255,255,0)"/>
                                </svg>
                                <form class="search-form">
                                    <input class="search-box" type="busca-home" id="busca-header" maxlength="50"/>
                                    <input class="search-submit" type="submit"/>
                                </form>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/grid">Alimentos</a>
                    </li>
                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/calculadora">Calculadora</a>
                    </li>
                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/sobre">Sobre</a>
                    </li>
                    <li class="itens-menu">
                        <a class="navbar-brand page-scroll" href="/contato">Contato</a>
                    </li>

                    <li th:if="${#httpServletRequest.remoteUser != null}" class="dropdown itens-menu">
                        <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" th:text="${nomeUsuario}">Usuário<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/editarUsuario">Editar Perfil</a></li>
                            <li><a href="/cadastroAlimento">Cadastrar Alimento</a></li>
                            <li th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                            <li role="separator" class="divider"></li>
                            <li><a href="/cadastrarUsuario">Cadastrar Usuário</a></li>
                            <li><a href="/formularioDeletarUsuario">Deletar Usuário</a></li>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Sair</a></li>
                </ul>
                </li>
                </ul>

            </div>

        </div>


    </nav>


</html>