 <html xmlns:th="http://thymeleaf.org">

    <link th:fragment="bootstrap-css" type="text/css" href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link th:fragment="jqueryui-css" type="text/css"  href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link th:fragment="principal-css" type="text/css" href="/css/principal.css" rel="stylesheet"/>
    <link th:fragment="flaticon-css" href="/fonts/MyIcons/flaticon.css" rel="stylesheet" type="text/css" />

    <script th:fragment="bootstrap-js" type="text/javascript" src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:fragment="jquery" type="text/javascript" src="/webjars/jquery/2.1.3/jquery.min.js"/>
    <script th:fragment="jqueryui" type="text/javascript" src="/webjars/jquery-ui/1.11.4/jquery-ui.min.js"/>
    <script th:fragment="busca" type="text/javascript" src="/js/busca.js"/>
    <script th:fragment="query-string-js" type="text/javascript" src="/js/queryString.js"/>


    <script th:fragment="detalhe" type="text/javascript" src="/js/detalhe.js"/>
    <script th:fragment="formulario-alimento-js" type="text/javascript" src="/js/formularioAlimento.js"/>

    <link th:fragment="favicon-ico" rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

    <nav th:fragment="cabecalho" class="cabecalho navbar navbar-trans navbar-fixed-top navbar-inverse navbar-collapse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-header"  href="/">
                        <label class="cbp-ig-icon avocado-fruit68 logoheader"></label>
                        <span class="navbar-brand text-danger itens-menu-font">Inimigos à mesa?</span>
                    </a>
                    <li class="itens-menu"><a class="navbar-brand itens-menu-font"  href="/grid">Alimentos</a></li>
                    <li class="itens-menu"><a class="navbar-brand itens-menu-font"  href="/sobre">Sobre</a></li>
                    <li class="itens-menu"><a class="navbar-brand itens-menu-font"  href="/contato">Contato</a></li>
                    <li class="itens-menu"><a class="navbar-brand itens-menu-font"  href="/calculadora">Calculadora</a></li>
                </ul>
                <div class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar" id="input-busca" maxlength="256"/>

                        <span class="input-group-btn">
                            <button type="button" id="btn-busca" class="btn btn-success">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>

                </div>
                <ul th:if="${#httpServletRequest.remoteUser != null}" class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>

        <div th:object="${calculadora}" ></div>

    </nav>


    <nav th:fragment="cabecalho-home" class="cabecalho navbar navbar-trans" role="navigation">

        <div class="container-fluid">
            <div class="navbar-collapse collapse" id="navbar-collapsible">

                <ul th:if="${#httpServletRequest.remoteUser != null}" class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>


</html>