<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

    <nav th:fragment="paginacao">
        <ul class="pagination">
            <li th:if="${ paginaAtual != 1}" >
                <a aria-label="Previous"  id="primeira-pagina">
                    <span aria-hidden="true">&Lang;</span>
                </a>
            </li>

            <li th:if="${ paginaAtual != 1}" >
                <a id="pagina-anterior">
                    <span aria-hidden="true">
                        &lang;
                    </span>
                </a>
            </li>

            <li th:each="i :  ${#numbers.sequence(1, __${ultimaPagina}__)}">
                <a th:text="${i}" class="pagina"></a>
            </li>

            <li th:if="${ paginaAtual != ultimaPagina}">
                <a id="proxima-pagina">
                    <span aria-hidden="true">
                        &rang;
                    </span>
                </a>
            </li>


            <li th:if="${ paginaAtual != ultimaPagina}">
                <a aria-label="Next"  id="ultima-pagina">
                    <span aria-hidden="true">
                        &Rang;
                    </span>
                </a>
            </li>
        </ul>
    </nav>

</html>