<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

    <nav th:fragment="paginacao">
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var ultimaPagina = [[${paginas.totalPages}]];
            /*]]>*/
        </script>

        <ul class="pagination" >
            <li th:if="${ not paginas.first }" >
                <a aria-label="Previous"  id="primeira-pagina">
                    <span aria-hidden="true">&Lang;</span>
                </a>
            </li>

            <li th:if="${ not paginas.first }" >
                <a id="pagina-anterior">
                    <span aria-hidden="true">
                        &lang;
                    </span>
                </a>
            </li>

            <li th:if="${paginas.number + 1 le paginas.totalPages - 7}" th:each="i :  ${#numbers.sequence((paginas.number + 1),  paginas.number + 7)}">
                <a th:text="${i}" class="pagina"></a>
            </li>

            <li th:if="${paginas.number + 1 gt paginas.totalPages - 7}" th:each="i : ${#numbers.sequence(paginas.totalPages - 7, paginas.totalPages)}">
                <a th:text="${i}" class="pagina"></a>
            </li>

            <li th:if="${ not paginas.last }" th:unless="${paginas.number gt paginas.totalPages - 7}">
                <a id="proxima-pagina">
                    <span aria-hidden="true">
                        &rang;
                    </span>
                </a>
            </li>

            <li th:if="${ not paginas.last}" th:unless="${paginas.number gt paginas.totalPages - 7}">
                <a aria-label="Next"  id="ultima-pagina">
                    <span aria-hidden="true">
                        &Rang;
                    </span>
                </a>
            </li>
        </ul>
    </nav>

</html>