<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:class="http://www.w3.org/1999/xhtml">
<head>

 </head>
 <body>

 <nav th:fragment="rodape">
     <footer id="footer" class="container">

        <center>
             <div class="alimento alinhar">
                 ALIMENTOS
                     <li>
                         <a href="/lista?categoria=10">Bebidas</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=7">Carnes</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=11">Cereais</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=14">Doces</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=1">Frutas</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=6">Gorduras e Óleos</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=5">Latícinios</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=4">Leguminosas</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=2">Nozes e Sementes</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=8">Pescados e Frutos do Mar</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=9">Industrializados</a>
                     </li>
                     <li>
                         <a href="/lista?categoria=3">Verduras e Hortaliças</a>
                     </li>
             </div>
             <div class="sites alinhar">
                 SITES
                     <li>
                         <a th:href="@{/lista}">Alimentos</a>
                     </li>
                     <li>
                         <a>Dicas de hábitos saudáveis</a>
                     </li>
                     <li>
                         <a>Doenças</a>
                     </li>
                     <li>
                         <a>Receitas</a>
                     </li>
                     <li>
                         <a>Tutorial</a>
                     </li>
                     <li>
                         <a>Informações legais</a>
                     </li>
                     <li>
                         <a th:href="@{/sobre}">Sobre</a>
                     </li>
                     <li>
                         <a th:href="@{/contato}">Contato</a>
                     </li>
             </div>
             <div class="compartilhamento alinhar">
                 COMPARTILHAMENTO
                     <li>
                         <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                         <script type="text/javascript">stLight.options({publisher: "57e7b7de-30c7-4cfc-9b9f-a2c45a73d62d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

                         <span class='st_facebook_hcount' displayText='Facebook'></span>
                         <span class='st_twitter_hcount' displayText='Tweet'></span>
                        
                     </li>
             </div>
            <div class="compartilhamento alinhar">
                ADMINISTRADOR
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
            </div>
        </center>
     </footer>
 </nav>
 </body>
 </html>
