<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/principal.css" />
<nav th:fragment="rodape">
    <footer id="footer" class="container-fluid">
        <div class="container-fluid">
            <div id="footer-menu">
                <div id="footer-sites">
                    <div class="main">
                        <center>
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        ALIMENTOS
                                    </th>
                                    <th>
                                        SITES
                                    </th>
                                    <th>
                                        OUTROS
                                    </th>
                                    <th colspan="3">
                                        COMPARTILHAMENTO
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                <a>Bebidas</a>
                                            </li>
                                            <li>
                                                <a>Carnes</a>
                                            </li>
                                            <li>
                                                <a>Cereais</a>
                                            </li>
                                            <li>
                                                <a>Doces/Gorduras</a>
                                            </li>
                                            <li>
                                                <a>Frutas</a>
                                            </li>
                                            <li>
                                                <a>Laticínios</a>
                                            </li>
                                            <li>
                                                <a>Legumes</a>
                                            </li>
                                            <li>
                                                <a>Verduras</a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a>Alimentos</a>
                                            </li>
                                            <li>
                                                <a>Dicas de hábitos saudáveis</a>
                                            </li>
                                            <li>
                                                <a>Doenças</a>
                                            </li>
                                            <li>
                                                <a>Receitas</a>
                                            </li>
                                            <li>
                                                <a>Tutorial</a>
                                            </li>
                                            <li>
                                                <a>Informações legais</a>
                                            </li>
                                            <li>
                                                <a>Sobre</a>
                                            </li>
                                            <li>
                                                <a>Contato</a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a>Alimentos</a>
                                            </li>
                                            <li>
                                                <a>Dicas de hábitos saudáveis</a>
                                            </li>
                                            <li>
                                                <a>Doenças</a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a>Facebook</a>
                                            </li>
                                            <li>
                                                <a>Twitter</a>
                                            </li>
                                            <li>
                                                <a>Google+</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</nav>
</html>
