.btn-search{
  position:relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin: 9px 0 0 8px;
  width: 0;
  border-bottom: 2px solid #FFFFFF;
  height: 32px;
  cursor: pointer;
  transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0.5s;
}


.btn-search.active {
  width: 200px;
  stroke: #53b778;
}

.btn-search.active i.material-icons {
  right: -8px;
}

.btn-search.active svg circle {
  stroke-dashoffset: -100;
}

.btn-search i.material-icons {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  top: auto;
  right: -13px;
  bottom: -1px;
  left: auto;
  font-size: 20px;
  transition: right .3s linear .7s;
}

.btn-search svg {
  position: absolute;
  top: auto;
  right: -17px;
  bottom: -3px;
  left: auto;
  transform: rotate(-270deg);
}

.btn-search svg circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.search-box{
  display:none;
}
.search-box:focus{
  outline:none;
}

.btn-search.active .search-form .search-box{
  display: block;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
}

.search-submit{
  display: none;
}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }