#lista-alimentos{
    float: left;
}

.centralizar-texto{
    text-align: center;
}

.informacoes-tabela-nome{
    float: left;
    width: 35%;
    text-align: center;
}
.informacoes-tabela-porcaoecaloria{
    float: left;
    width: 25%;
    text-align: center;
}
.informacoes-tabela-total{
      float: left;
      width: 50%;
      text-align: center;
      margin: auto 0;
}

#imgExcluir{
    width: 20px;
}

.informacoes-tabela-excluir{
    float: left;
    width: 10%;
    text-align: center;
}
.altura{
    height: 60px;
}

.table {
    margin: 0;
}

.espacamento{
    margin-bottom:10px;
}

#tabela-info{
    float: left;
    margin-left: 30px;
}


.titulo-medio-calculadora{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.titulo-pequeno-calculadora{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.colher-calculadora{
    margin-right: 5px;
    float: right;
    height: 60px;
    width: 40px;
}

.colher-detalhe{
    margin-right: 5px;
    float: right;
    height: 70px;
    width: 40px;
    padding-top: 20px;
}

.calculadora-medidas-visuais{
    width: 80%;
    height: 60px;
}

.colher-calculadora-texto{
    padding-top: 10px;
    padding-left: 5px;
}

.ajustando-tabela-2-calculadora{
    padding-left: 0px !important;
}

.ajuste-tamanho-td-calculadora{
    width: 33.3%;
}

.titulo-grande-calculadora{
    font-size: 30px;
}

.div-botao-calculadora{
    width: 100%;

}

.botao-calculadora{
    width: 98%;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
}


a.botao-calculadora:active {
    color: white;
}

.espaco-rodape{
    padding-bottom: 100px;
}

.block {
    display: inline-block;
}

.center{
    text-align: center;
    margin: 0 auto !important;
}

.tamanho-div-total{
    width: 100%;
}

.tamanho-texto{
    font-size: 15px;
}

.ajuste-medidas-visuais-calculadora{
    padding-right: 10px;
}