.alinha-direita {
    horizontal-align: right;
  	list-style-type:none;
  	display: inline-block;
  	width: 74%;
  	margin-top: 10px;

}

.alinha-esquerda {
      horizontal-align: left;
      list-style-type:none;
      display: inline-block;
      width: 25%;
      margin-top: 10px;

}

.centralizar{
margin:0 auto !important;
}

.input-alimento{
    width:70%
}

.tamanho-campo-medida{
    width:30%;


}

.espacoErroMedidas{
    width: 100%;
     height: 60px;
}

.tamanho-campo-erro-medida {
    width:29%;
    margin-left: 26%;
    float: left;
    margin-top: 5px;
}

.tamanho-campo-erro-medida2{
    width: 29%;
    margin-left: 10px;
    float: left;
    margin-top: 5px;

}

.botao-enviar {
    width: 65%;
    margin-top: 10px;
}
.botao-cancelar {
    width: 34%;
    margin-top: 10px;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}


.unidade{
  float: right;
}

.imput-tabela{
  float: left;
}

.imagem-detalhe-produto{
    height: 80%;
    width: 85%;
}

.direita{
float:right;
}

.esquerda{
float:left;
}

.alinhaBotaoUpload{
    padding-left: 15px;
}

#espacoErroCategoria {
    margin-bottom: 100px;
}

.div-erro-unidade {
    display:none;
}

.div-erro{
    margin-top: 10px;
    margin-bottom: 80px;
}

.esconde{
display:none;
}

#espacoErroNome{
    display: none;
}
.cloudinary-delete {
font-size: 30px !important;  }