body{
	background-color: #f4f4f4;
}

.item-grid{
	background-color:#fff;
	padding: 0 !important;
	color:#000 !important;
	margin-bottom: 30px !important;
	width: 261px;
}

.imagem-grid:hover {
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
}

.item-grid:hover{
	background-color:#fff !important;
}

.msg-erro{
	font-weight: bold;
}

.busca-letras {
	margin-top: 1px;
    background-color: white;
    width: 100%;
}

.calculadora-grid{
    background-color: #4CAE4C;
}


a.calculadora-grid:hover  {
	color: white;
	background-color: green;
}

.texto-card{
	padding-top: 5px;
	padding-left: 10px;
	height:106px;

}

.imagem-grid{
	padding:5px;
}

.buscaLetra{
	border: none !important;
}

.modal-footer{
	border-top: none !important;
}

.categoria-titulo{
	height: 30px;
	text-align: center;
}

.categoria-item{
	fill: red;
}

.topo-grid{
	padding-bottom: 30px;
	width: 100%;
	max-width: 100%;
	background-image: url('../img/img-cat.jpg');
}

#menu-categoria{
	margin-top: 80px;
}

.categoria-linha-dupla{
	width:300px;
	float: left;
	margin-bottom:10px;
}

.categoria-img-nome{
	height: 120px;
	width: 150px;
	float: left;
	text-align: center;
		-moz-transition: all 0.25s ease-in-out !important;
		-o-transition: all 0.25s ease-in-out !important;
		-webkit-transition: all 0.25s ease-in-out !important;
		transition: all 0.25s ease-in-out !important;
}

.categoria-img{
	width: 100%;
}

.categoria-icone{
	width: 100px;
	height: 55px;
	margin: 0 auto;
	margin-top:10px;
}

.categoria-nome{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#menu-categoria a {
    color: #fff !important;
    text-decoration : none !important;
		-moz-transition: all 0.4s ease-in-out !important;
		-o-transition: all 0.4s ease-in-out !important;
		-webkit-transition: all 0.4s ease-in-out !important;
		transition: all 0.4s ease-in-out !important;
}

.buscaLetra{
	border-radius: 0px;
    font-size:1.2em;
		-moz-transition: all 0.25s ease-in-out !important;
		-o-transition: all 0.25s ease-in-out !important;
		-webkit-transition: all 0.25s ease-in-out !important;
		transition: all 0.25s ease-in-out !important;
}

.buscaLetra:focus{
	border-radius: 0px;
	background-color: #53B778;
		-moz-transition: all 0.25s ease-in-out !important;
		-o-transition: all 0.25s ease-in-out !important;
		-webkit-transition: all 0.25s ease-in-out !important;
		transition: all 0.25s ease-in-out !important;
}

.buscaLetra-atual{
    background-color: #53B778;
    border-color: #53B778;
    color: #fff;
		-moz-transition: all 0.25s ease-in-out !important;
		-o-transition: all 0.25s ease-in-out !important;
		-webkit-transition: all 0.25s ease-in-out !important;
		transition: all 0.25s ease-in-out !important;
}

.btn-primary:hover{
	border-color: #53B778 !important;
    background-color: #53B778 !important;
}

.categoria-img-nome:hover{
	background-color: rgba(0,0,0,0.2);
		-moz-transition: all 0.4s ease-in-out !important;
		-o-transition: all 0.4s ease-in-out !important;
		-webkit-transition: all 0.4s ease-in-out !important;
		transition: all 0.4s ease-in-out !important;
}

.categoria-atual{
	background-color: rgba(0,0,0,0.2);
		-moz-transition: all 0.4s ease-in-out !important;
		-o-transition: all 0.4s ease-in-out !important;
		-webkit-transition: all 0.4s ease-in-out !important;
		transition: all 0.4s ease-in-out !important;
}
#tamanho-max-card{
	height:305px;
	overflow: hidden;
}
