body {
    overflow-x: hidden;
}

.texto-sessao {
    font-size:16px;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #53b778;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

a {
    color: #53b778;
}


a.active {
    color: #53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.img-centered {
    margin: 0 auto;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #53b778;
    color: #fff;
    background-color: #53b778;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #53b778;
    background-color: #53b778;
}

.btn-primary .badge {
    color: #53b778;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #53b778;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #53b778;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #53b778;
    color: #fff;
    background-color: #53b778;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,

.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #53b778;
    background-color: #53b778;
}

.btn-xl .badge {
    color: #53b778;
    background-color: #fff;
}

section {
    padding: 20px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    color: #565a5c;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

.st0 {
fill:none;
stroke:#FFFFFF;
stroke-width:2;
stroke-miterlimit:10;
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.buscar-home {
    margin: 0 auto;
    display: inline-block;
}

.botao-buscar {
    color: #53b778;
    width: 125px;
    border: solid 1px #53b778;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    margin-left: 15px;
    float: left;
    background-color: Transparent;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.botao-buscar:hover {
    color: #fff;
    background: #53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;

}

.btn-search-border:hover{
    stroke:#53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.caixa-busca {
    width: 350px;
    float: left;
}

.colher-info-home {
    height: 150px;
    margin-bottom: -20px;
}

.colheres {
    background-color: #F4F4F4;
}
#topFoods{
    min-height: 500px;
}
.cards{
    height: 300px;
    border: solid 1px #eee;

}
.foto-card{
    overflow:hidden;
    height: 170px;
    display: block;

}
#btn-add-home{
    margin-top: 10px !important;
}


.foto-card img{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    bottom: 50%;
    vertical-align: middle;

}

.info-card{
    height:  90px;
       background: #e9e9e9;
}
.add-cal-card{
    height: 40px;
    background: #547286;
}

.agrupadordeCards{
    margin-top: 20px;
}

.icon-search{
    padding-bottom: 0 !important;
}


textarea:focus,
input[type="text"]:focus,
.uneditable-input:focus {
    border-color: rgba(92, 236, 144, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
}

.scrollto {
    position: absolute;
    top: 500px;
    left: calc(50% - 20px);
    width: 40px;
    z-index: 100;
    -webkit-animation: breath 2s ease-out infinite alternate;
    -moz-animation: breath 2s ease-out infinite alternate;
    animation: breath 2s ease-out infinite alternate;
}

@-webkit-keyframes breath {
    from {
        opacity: 1;
        -webkit-transform: translateY(0)
    }

    to {
        opacity: .5;
        -webkit-transform: translateY(10px)
    }
}

@-moz-keyframes breath {
    from {
        opacity: 1;
        -moz-transform: translateY(0)
    }

    to {
        opacity: .5;
        -moz-transform: translateY(10px)
    }
}

@keyframes breath {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        opacity: .5;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px)
    }
}

.li {
    height: 0px !important;
}

.grad{
    background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 47%, rgba(0,0,0,0) 100%;
}

