@font-face {
	font-family: 'SourceSansPro';
	src: url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

* {
	font-family: SourceSansPro;
}

body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

a {
    color: #53b778;
    text-decoration : none !important;
}

a.active {
    color: #53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.wrapper-conteudo {
	margin-top:70px !important;
}


.tamanho-minimo-pagina {
	min-height: 242px !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="select"]:focus,
select:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(92, 236, 144, 0.8) !important;

    outline: 0 !important;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
}

hr {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.escritaheader {
	font-size: 30px;
}

.itens-menu {
	padding-left: 15px !important;
}

.itens-menu-font {
	color: #B8B8B8 !important;
}

.logoheader {
	font-size: 28px;
	margin-top: 4px !important;
	float: left;
	margin-right: 7px;
	text-decoration : none !important;
	color: #ffffff;
}

.logoheader::before{
	font-size: 28px;
	margin-left:0px;
}

.footer-bg{
	background: #2E2E2E;
}

.page-scroll{
    padding-bottom: 0px !important;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFF;
	padding: 15px;
}

#footer a {
	color: #bbb;
	line-height: 2em;
	font-size: 1em;
}

#footer a:hover {
	color: #449D44;
}

#menu-header li > a {
	color: #fff !important;
	line-height: 2em !important;
	font-size: 1em !important;
}

#menu-header li > a:hover {
		color: #449D44 !important;
    }

.alinhamento-footer {
	text-align: left;
    color: #FFFFFF !important;
	vertical-align: top;
	list-style-type:none;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.espacoAdm{
	margin-top: 15px;
}
.espacoRedes{
	margin-top: 5px;
}

.titulo-rodape {
	font-weight: bold;
	margin-bottom: 5px !important;
}

.categorias{
	background-color: #449D44;
	border-color: #398439;
	width:100%;
	margin-top:51px !important;
}

.centralizar{
	width: 90%;
	margin: 0 auto;
}

.categoria{
	border-radius: 0px !important;
	font-size:1.2em;
}

.categoria:focus{
	border-radius: 0px !important;
	background-color: #3A7D3A !important;
}

.btn-primary{
	background-color: white;
	color: black;
}

.btn-primary:hover{
	border-color:#3A7D3A;
	background-color: #3A7D3A;
}

.categoria-atual{
    background-color: #3A7D3A;
    border-color: #3A7D3A;
}

.titulos-paginas {
	padding-top: 80px;
	width: 800px;
	height: 150px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

.block{
  display: inline-block;
}


.corpo-home{
    background-color: white;
}

.ajuste-recuperar{
	padding-top: 10%;
}

.link-senha {
	padding-top: 8px;
	float: right;
	font-size: 14px;
}

.botao-editar{
    margin-top: 22px;
}

.botao-deletar{
    margin-top: 22px;
}

.botao-salvar{
    margin-top: 22dpx;
}

.grupo-btn{
    float: right !important;
}

#msg-sucesso-email {
	margin-top: 10px;
	text-align: center;
	font-size: 1em;
}

.espacamento-menu{
	padding-left: 20px;
}

.centralizar-texto {
	text-align: center;
}

.row .escritaheader{
	padding-bottom: 10px;
}

.icone-home{
	padding-top: 60px;
}

.tamanho-max {
	max-width: 350px;
	max-height: 80px;
	min-height: 80px;
	min-width: 350px;
}

#espacoErroMedidaCaseira {
	margin-bottom: 50px;
}

::selection {
	background: #a9d4ad;
}
::-moz-selection {
	background: #A9D4AD;
}

.margem-down{
	padding-bottom: 10%;
}

.erroRedefinirSenha{
	margin-top: 10px;
	display:none;
}

.margem-rodape{
	margin-top: 7%;
}

#busca-header{
	margin-bottom:9px;
	padding-bottom:9px;
}

.ui-widget-content {
    border: 1px solid #FFF !important;
    background: #222 url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% !important;
    color: #FFF !important;
	z-index: 9000 !important;
    margin-top:9px !important;
}

.dropdown-menu{
	 background: #222 url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% !important;
}

.dropdown-menu > li > a{
	 color: #FFF !important;
}

.dropdown-menu > li > a:hover{
	 background: #222 url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% !important;
}

.stButton, .stMainServices, .st_facebook_hcount, stArrow, .st_fb_like_hcount, .stButton_gradient, .stHBubble {
	height:23px !important;
}

.header-ajuste{
	float:left !important;
}

.botao {
    color: #53b778;
    border: solid 1px #53b778;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    background-color: Transparent;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.botao:hover {
    color: #fff;
    background: #53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;

}

.botao-preenchido  {
    color: #FFF;
    border: solid 1px #53b778;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    background-color: #53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.botao-preenchido a  {
    color: #FFF;
    padding: 5px;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.botao-preenchido:hover{
    color: #53b778;
    background: Transparent;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.botao-preenchido a:hover{
    color: #53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.botao-vermelho {
    color: #FD0E0E;
    border: solid 1px #FD0E0E;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    background-color: Transparent;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.botao-vermelho:hover {
    color: #fff;
    background: #FF6B6B;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;

}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    color: #53b778;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: white;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #53b778;
    background-color: #53b778;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #53b778;
}

.navbar-default .nav li a {
    text-transform: uppercase !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    color: #fff !important;
    font-size: 14px !important;
}


.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #53b778;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #53b778;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #53b778;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 15px 0px;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65));
    background-size: cover;
}

header .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 45px;
    font-size: 22px;
    line-height: 22px;
}

.intro-heading h1{
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
    line-height: 20px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 250px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 45px;
        font-size:20px;
        line-height: 40px;
    }

    header .intro-text .intro-heading h1 {
        margin-bottom: 20px;
        font-size: 38px;
        font-weight: 600;
        line-height: 20px;
    }
}

.obrigatoria{
	color:red;
}