@font-face {
	font-family: 'SourceSansPro';
	src: url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

* {
	font-family: SourceSansPro;
}

body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

a {
    color: #53b778;
    text-decoration : none !important;
}

a.active {
    color: #53b778;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}



.wrapper-conteudo {
	margin-top:70px !important;
}


.tamanho-minimo-pagina {
	min-height: 242px !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="select"]:focus,
select:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(92, 236, 144, 0.8) !important;

    outline: 0 !important;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
}

hr {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.escritaheader {
	font-size: 30px;
}

.itens-menu {
	padding-left: 15px !important;
}

.itens-menu-font {
	color: #B8B8B8 !important;
}

.logoheader {
	font-size: 28px;
	margin-top: 4px !important;
	float: left;
	margin-right: 7px;
	text-decoration : none !important;
	color: #ffffff;
}

.logoheader::before{
	font-size: 28px;
	margin-left:0px;
}

.footer-bg{
	background: #2E2E2E;
}

.page-scroll{
    padding-bottom: 0px !important;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFF;
	padding: 15px;
}

#footer a {
	color: #bbb;
	line-height: 2em;
	font-size: 1em;
}

#footer a:hover {
	color: #449D44;
}

.alinhamento-footer {
	text-align: left;
    color: #FFFFFF !important;
	vertical-align: top;
	list-style-type:none;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.espacoAdm{
	margin-top: 15px;
}
.espacoRedes{
	margin-top: 5px;
}

.titulo-rodape {
	font-weight: bold;
	margin-bottom: 5px !important;
}

.categorias{
	background-color: #449D44;
	border-color: #398439;
	width:100%;
	margin-top:51px !important;
}

.centralizar{
	width: 90%;
	margin: 0 auto;
}

.categoria{
	border-radius: 0px !important;
	font-size:1.2em;
}

.categoria:focus{
	border-radius: 0px !important;
	background-color: #3A7D3A !important;
}

.btn-primary{
	background-color: white;
	color: black;
}

.btn-primary:hover{
	border-color:#3A7D3A;
	background-color: #3A7D3A;
}

.categoria-atual{
    background-color: #3A7D3A;
    border-color: #3A7D3A;
}

.titulos-paginas {
	padding-top: 80px;
	width: 800px;
	height: 150px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

.block{
  display: inline-block;
}

.ajuste-recuperar{
	padding-top: 10%;
}

.link-senha {
	padding-top: 8px;
	float: right;
	font-size: 14px;
}

.botao-editar{
    margin-top: 22px;
}

.botao-deletar{
    margin-top: 22px;
}

.botao-salvar{
    margin-top: 22dpx;
}

.grupo-btn{
    float: right !important;
}

#msg-sucesso-email {
	margin-top: 10px;
	text-align: center;
	font-size: 1em;
}

.espacamento-menu{
	padding-left: 20px;
}

.centralizar-texto {
	text-align: center;
}

.row .escritaheader{
	padding-bottom: 10px;
}

.icone-home{
	padding-top: 60px;
}

.tamanho-max {
	max-width: 350px;
	max-height: 80px;
	min-height: 80px;
	min-width: 350px;
}

#espacoErroMedidaCaseira {
	margin-bottom: 50px;
}

::selection {
	background: #a9d4ad;
}
::-moz-selection {
	background: #A9D4AD;
}

.margem-down{
	padding-bottom: 10%;
}

.erroRedefinirSenha{
	margin-top: 10px;
	display:none;
}

.margem-rodape{
	margin-top: 7%;
}