#background_cycler{
    padding:0;
    margin:0;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1
    }

#background_cycler img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:1
    }

#background_cycler img.active{
    z-index:3
    }