<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
<title>Lista de Alimentos</title>	
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Carregando o CSS do Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/listaEstilo.css"/>
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css"/>

<link rel="stylesheet" type="text/css" href="../css/estilo.css"/>
<link rel="stylesheet" type="text/css" href="../css/categoriaEstilo.css"/>



</head>	
<body>
<div class="container">
<center>

<h1>Busca por Categoria</h1><br />

<div>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Cereais</button></a>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Frutas</button></a>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Verduras</button></a>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Legumes</button></a>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Carnes</button></a>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Laticínios</button></a>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Doces/Gorduras</button></a>
<a href="#"><button type="button" class="btn btn-primary btn-lg active">Bebidas</button></a>
</div>
</center>
</div>






	
</body>
</html>