<!DOCTYPE html>
<html>
<head lang="pt-br">
    <meta charset="UTF-8" />
    <title>Busca</title>
</head>
<body>
<header>

    <div id="div_busca">
        <form action="#" th:action="@{/busca}" th:object="${alimento}" method="post">
            <input type="text"  id="input_busca" value="Busca..." maxlength="256" th:field="*{nomeAlimento}"/>
            <button type="submit"> Buscar </button>
        </form>
    </div>

</header>

<div id="lista_busca">

    <!--<tr>
        <p th:text="${nomeAlimento}" />
    </tr>
    <tr>
        <p th:text="${quantidadeAcucarGramas}" />
    </tr>
    <tr>
        <p th:text="${quantidadeSodioMiligramas}" />
    </tr>
    <tr>
        <p th:text="${quantidadeGorduraGramas}" />
    </tr>
-->

    <th:if test="${not empty resultadoBusca}">

        <ul>
            <th:forEach var="listValue" items="${resultadoBusca}">
                <li>${listValue}</li>
            </th:forEach>
        </ul>

    </th:if>


</div>


</body>
</html>