<!DOCTYPE html>
<html>
<head lang="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Carregando o CSS do Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/listaEstilo.css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css"/>
    <title>Busca</title>
</head>
<body>
<header>

    <div id="div_busca">
        <form action="#" th:action="@{/busca}" th:object="${alimento}" method="post">
            <input type="text"  id="input_busca" value="Busca..." maxlength="256" th:field="*{nomeAlimento}"/>
            <button type="submit"> Buscar </button>
        </form>
    </div>

</header>

<!--<div id="lista_busca">-->

    <!--<tr>
        <p th:text="${nomeAlimento}" />
    </tr>
    <tr>
        <p th:text="${quantidadeAcucarGramas}" />
    </tr>
    <tr>
        <p th:text="${quantidadeSodioMiligramas}" />
    </tr>
    <tr>
        <p th:text="${quantidadeGorduraGramas}" />
    </tr>
-->

    <div class="list-group">
        <div th:each="alimento : ${resultadoBusca}">
            <a href="#" class="list-group-item">
                <div id="infoAlimento" class="media">
                    <div id="imagemAlimento" class="media-left media-middle" >
                        <img height="140px" width="140px" th:src="${alimento.urlImagem}" class="img-rounded media-object"/>
                    </div>

                    <div class="media-body">
                        <h2 class="media-heading" th:text="${alimento.nomeAlimento}" id="alimento"></h2>


                        <p id="categoria" th:text="${alimento.codCategoria}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</body>
</html>