<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhe do Produto</title>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link rel="stylesheet" type="text/css" href="/css/principal.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cadastroAlimento.css"/>


    <script th:replace="fragmentos/header :: jquery"> </script>
    <script th:replace="fragmentos/header :: jqueryui"> </script>
    <script th:replace="fragmentos/header :: cadastro-alimento-js"> </script>


</head>
    <body>

        <script>
            $(document).ready(function(){
                var uploadFinished = $(".js-upload-finished");
                var botaoUpload = $("#js-upload-files");

                uploadFinished.hide();

                botaoUpload.on("click", function(){
                       uploadFinished.show();
                });
            });
        </script>


        <nav th:replace="fragmentos/header :: cabecalho"></nav>

        <div class="jumbotron">
            <center>
                <h2>Cadastro de Alimento</h2>
            </center>
        </div>
        <div class="container">
            <div class="row">
                <form  th:action="@{/cadastroAlimento}" th:object="${alimento}" method="POST" id="js-upload-form">
                <div class="col-xs-6 col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Imagem Alimento</strong></div>
                            <div class="panel-body">

                                <!-- Standar Form -->
                                <h4>Selecione uma imagem em seu Pc.</h4>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="text" name="files" id="js-upload-files" th:field="*{urlImagem}"/>
                                        </div>
                                    </div>

                                <!--&lt;!&ndash; Drop Zone &ndash;&gt;-->
                                <!--<h4>Ou arraste uma imagem</h4>-->
                                <!--<div class="upload-drop-zone" id="drop-zone">-->
                                    <!--Arraste uma imagem aqui!!!-->
                                <!--</div>-->

                                <!--&lt;!&ndash; Progress Bar &ndash;&gt;-->
                                <!--<div class="progress">-->
                                    <!--<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 6%;">-->
                                        <!--<span class="sr-only">6% Complete</span>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--&lt;!&ndash;&lt;!&ndash; Upload Finished &ndash;&gt;&ndash;&gt;-->
                                <!--<div class="js-upload-finished">-->
                                    <!--<h3>Subindo Imagem</h3>-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                    </div>
                    <button href="##" class="btn btn-default alinha-esquerda" type="submit" >Cancela</button>
                </div>
                <div class="col-xs-6 col-md-5">
                    <!--<form  action="">-->
                        <div class="form-group">
                            <label >Nome Alimento</label>
                            <input type="text" th:field="*{nome}" class="form-control" name="nomeAlimento"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label >Selecione uma categoria</label>
                            <select class="form-control" th:field="*{categoria}">
                                <option th:each="categoria: ${categorias}" th:text="${categoria.nome}" th:value="${categoria.codigo}" >Selecione uma categoria</option>
                            </select>
                        </div>

                        <br/>
                            <ul class="list-group">
                                <center>
                                    <li class="list-group-item">
                                        <h3>
                                            <b>Tabela Nutricional</b>
                                        </h3>
                                    </li>
                                </center>
                                    <li class="list-group-item">
                                        <div class="alinha-esquerda">
                                            Porção alimento:
                                        </div>

                                        <div class="alinha-direita" >
                                            <input th:field="*{porcaoAlimento}" type="text" name="porcao" value=""/>
                                            <label class="radio-inline">
                                                <input th:field="*{unidade}" type="radio" name="ml" id="ml" value="ml"/>
                                                ml
                                            </label>
                                            <label class="radio-inline">
                                                <input th:field="*{unidade}" type="radio" name="g" id="g" value="g" />
                                                g
                                            </label>

                                        </div>
                                    </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Calorias:</div>
                                    <div class="alinha-direita">
                                        <input th:field="*{calorias}" type="text" name="calorias" value=""/>
                                        kcal
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Açucar:</div>
                                    <div class="alinha-direita">
                                        <input th:field="*{acucar}" type="text" name="acucar" value=""/>
                                        g
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Sódio:</div>
                                    <div class="alinha-direita">
                                        <input th:field="*{sodio}" type="text" name="sodio" value=""/>
                                        mg
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Gordura:</div>
                                    <div class="alinha-direita">
                                        <input th:field="*{gordura}" type="text" name="gordura" value=""/>
                                        g
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h4>
                                        <b><center>Legenda</center></b>
                                    </h4>

                                    <h6 class="list-group-item">
                                        <B>NA</B> - Não avaliado
                                        <br />
                                        <b>TR</b> - Traço para medidas entre 0 à 0.5
                                    </h6>
                                </li>
                            </ul>
                            <input class="btn btn-default alinha-direita" type="submit"  id="enviar" value="Enviar Dados"/>
                            <input class="btn btn-default alinha-esquerda" type="submit"  id="cancelar" value="Cancelar"/>
                    <br/><br/><br/>
                </div>
                </form>
            </div>


        </div>
        <nav th:replace="fragmentos/rodape :: rodape"></nav>

    </body>
</html>