<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
    <title>Calculadora</title>

    <link th:replace="fragmentos/header :: flaticon-css" />
    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <link th:replace="fragmentos/header :: favicon-ico"/>
    <link th:replace="fragmentos/header :: busca-icon" />
    <link th:replace="fragmentos/header :: busca-css"/>
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <script type="text/javascript" src="/js/home3.js"/>

    <link type="text/css" href="/css/calculadora.css" rel="stylesheet"/>
    <link type="text/css" href="/css/detalhe.css" rel="stylesheet"/>

</head>

<body>

    <nav th:replace="fragmentos/header :: cabecalho(${nomeUsuario})"></nav>

    <div class="titulos-paginas">
        <h1>Calculadora de Alimentos</h1>
    </div>

    <div class="container espaco-rodape">
        <div>
            <div class="row col-lg-6" id="lista-alimentos">
                <ul class="list-group-item">
                    <ul class="ajustando-tabela-2-calculadora espacamento">

                        <li class="list-group-item centralizar-texto">
                            <h3>Alimentos Selecionados</h3>
                        </li>

                        <li class="list-group-item altura">
                            <div class="informacoes-tabela-nome">
                                <p class="titulo-pequeno-calculadora">Nome</p>
                            </div>

                            <div class="informacoes-tabela-porcaoecaloria">
                                <p class="titulo-pequeno-calculadora">Porção</p>
                            </div>

                            <div class="informacoes-tabela-porcaoecaloria">
                                <p class="titulo-pequeno-calculadora">Calorias</p>
                            </div>
                            <div class="informacoes-tabela-excluir">
                                <p class="titulo-pequeno-calculadora">Excluir</p>
                            </div>

                        </li>

                        <li class="list-group-item altura" th:each="alimento: ${alimentos}">
                            <div class="informacoes-tabela-nome">
                                <p th:text="${alimento.nome}"></p>
                            </div>

                            <div class="informacoes-tabela-porcaoecaloria">
                                <p th:text="${alimento.porcaoExibicao}"></p>
                            </div>

                            <div class="informacoes-tabela-porcaoecaloria">
                                <p th:text="${alimento.calorias != ''} ? ${alimento.calorias} : 'NA'"></p>
                            </div>
                            <div class="informacoes-tabela-excluir">
                                <a th:href="@{'/excluiAlimento?codigo=' + ${alimento.codigo}}" class="botoes-margin">
                                    <img src="/img/excluir.png" id="imgExcluir"/>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <ul class="ajustando-tabela-2-calculadora">
                        <li class="list-group-item altura">
                            <div class="informacoes-tabela-total">
                                <p class="titulo-pequeno-calculadora">Total</p>
                            </div>

                            <div class="informacoes-tabela-total">
                                <p class="titulo-pequeno-calculadora" th:text="${calculadora.caloriasTotal}"></p>
                            </div>
                        </li>
                    </ul>
                </ul>
            <div class="div-botao-calculadora">
                <a class="botao-calculadora botao" href="/alimentos">
                    Selecione alimentos para calcular
                </a>
            </div>
        </div>

            <div id="tabela-info" class="col-lg-6" th:object="${calculadora}">
                <ul class="list-group-item img-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <li class="list-group-item ajustando-tabela centralizar-texto">
                                <h3>Calculadora Nutricional</h3>
                                Para os alimentos selecionados
                            </li>
                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <div class="center titulo-caloria-div">
                                        <p class="titulo-medio-detalhe titulo-caloria">Calorias:</p>
                                        <div class="titulo-caloria-valor">
                                            <div class="titulo-medio-detalhe titulo-caloria" value="calorias" id="valor-caloria" th:text="${calculadora.caloriasTotal}"></div>
                                            <div class="titulo-medio-detalhe titulo-caloria">&nbsp;kcal</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="ajuste-tamanho-td-calculadora">
                                    <p class="titulo-pequeno-calculadora">Açúcar</p>
                                    <hr/>
                                    <div class="center calculadora-medidas-visuais">
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block valor-colher-acucar" th:text="${calculadora.colherAcucar}"></div>
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block ajuste-medidas-visuais-calculadora">x</div>
                                        <img class="colher-tabelas" src="/img/colher-acucar.svg"/>
                                    </div>
                                    <div class="center tamanho-div-total">
                                        <div class="centraliza-texto-detalhe center">
                                            <div class="block">Total: </div>
                                            <div class="centralizar-texto block tamanho-texto" th:text="${calculadora.acucarTotal}">g</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="ajuste-tamanho-td-calculadora">
                                    <p class="titulo-pequeno-calculadora">Gordura</p>
                                    <hr/>

                                    <div class="center calculadora-medidas-visuais">
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block valor-colher-gordura" th:text="${calculadora.colherGordura}"></div>
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block ajuste-medidas-visuais-calculadora">x</div>
                                        <img class="colher-tabelas" src="/img/colher-gordura.svg"/>
                                    </div>

                                    <div class="center tamanho-div-total">
                                        <div class="centraliza-texto-detalhe center">
                                            <div class="block">Total: </div>
                                            <div class="centralizar-texto block tamanho-texto" th:text="${calculadora.gorduraTotal}">g</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="ajuste-tamanho-td-calculadora">
                                    <p class="titulo-pequeno-calculadora">Sal</p>
                                    <hr/>
                                    <div class="center calculadora-medidas-visuais">
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block valor-colher-sal" th:text="${calculadora.colherSal}"></div>
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block ajuste-medidas-visuais-calculadora">x</div>
                                        <img class="colher-tabelas" src="/img/colher-sal.svg"/>
                                    </div>
                                    <div class="center tamanho-div-total">
                                        <div class="centraliza-texto-detalhe center">
                                            <div class="block">Total: </div>
                                            <p class="centralizar-texto block tamanho-texto" th:text="${calculadora.salTotal}">g</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="ajustando-tabela-2-calculadora">
                        <h6 class="list-group-item">
                            <B>Açúcar</B> - Cada colher de chá contém 1,76g de açúcar.
                            <br />
                            <b>Gordura</b> - Cada colher de chá contém 2.0g de gordura.
                            <br/>
                            <b>Sal</b> - Cada colher de chá contém 2,06g de sal.
                        </h6>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <nav th:replace="fragmentos/rodape :: rodape"></nav>
    <script src="/js/cbpAnimatedHeader.js"></script>
    </body>
</html>
