<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Detalhe do Produto</title>
</head>
<body>

    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">14</span>
            Calorias
        </li>
        <li class="list-group-item">
            <span class="badge">14</span>
            Açucar
        </li>
        <li class="list-group-item">
            <span class="badge">14</span>
            Sódio
        </li>
    </ul>
</body>
</html>