<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Detalhe do Produto</title>


    <link th:replace="fragmentos/header :: bootstrap-css" />

    <link href="css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="css/detalhe-do-produto.css" rel="stylesheet"/>
</head>
<body>

<nav th:replace="fragmentos/header :: cabecalho"></nav>


<div class="jumbotron">
    <center>
        <h2>
            Detalhe do Produto
        </h2>
    </center>
</div>
<div class="container" th:object="${alimento}" id="mostraAlimento">
    <div class = "row" id="infoAlimento">
        <h3 th:text="${alimento.nome}" class="alimentonome"></h3>
        <h4 th:text="${alimento.getCategoria().getNome()}" class="alimentocategoria"></h4>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-5">
            <img th:src="${alimento.urlImagem}" alt="Imagem do Alimento" class="imagem-detalhe-produto" id="imagemProduto"/>
        </div>
        <div class="col-xs-6 col-md-5">
            <ul class="list-group">
                <center>
                    <li class="list-group-item">
                        <h3>
                            <b>Tabela Nutricional</b>
                        </h3>
                    </li>
                </center>
                <li class="list-group-item">
                    Para porção de 100g
                </li>
                <li class="list-group-item">
                    <span class="badge" th:text="${alimento.calorias}"> </span>
                    Calorias
                </li>
                <li class="list-group-item">
                    <span class="badge" th:text="${alimento.acucarGramas}"></span>
                    Açucar
                </li>
                <li class="list-group-item">
                    <span class="badge" th:text="${alimento.sodioMiligramas}"></span>
                    Sódio
                </li>
                <li class="list-group-item">
                    <span class="badge" th:text="${alimento.gorduraGramas}"></span>
                    Gordura
                </li>
                <li class="list-group-item">
                    <h4>
                        <b><center>Legenda</center></b>

                    </h4>

                    <h6 class="list-group-item">
                        <B>NA</B> - Não avaliado
                        <br />
                        <b>TR</b> - Traço para medidas entre 0 à 0.5

                    </h6>
                </li>
            </ul>
        </div>

    </div>


</div>
</body>
</html>