<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detalhe do Produto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:fragment="principal-css" href="/css/detalhe.css" rel="stylesheet"/>
    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />

    <script th:replace="fragmentos/header :: jquery"> </script>
    <script th:replace="fragmentos/header :: jqueryui"> </script>
    <script th:replace="fragmentos/header :: query-string-js"> </script>
    <script th:replace="fragmentos/header :: busca"> </script>
    <script th:replace="fragmentos/header :: detalhe"> </script>
    <script th:replace="fragmentos/header :: formulario-alimento-js"> </script>
    <script th:replace="fragmentos/header :: bootstrap-js"> </script>
    <link th:replace="fragmentos/header :: favicon-ico" />
</head>
<body>
    <nav th:replace="fragmentos/header :: cabecalho"></nav>

        <p id="gordura" th:value="${medidas.colheresDeGordura}"></p>
        <p id="acucar" th:value="${medidas.colheresDeAcucar}"></p>
        <p id="sal" th:value="${medidas.colheresDeSal}"></p>


        <div class="container wrapper-conteudo" id="mostraAlimento">
            <div class = "row" id="infoAlimento">
                <div>

                    <div class="col-lg-2 col-md-2 grupo-btn"  th:if="${#httpServletRequest.remoteUser != null}" >
                        <a th:href="@{'/editarAlimento?codigo=' + ${alimento.codigo}}" class="botao-editar">
                                <button type="button" class="btn btn-danger">
                                    Editar
                                </button>
                        </a>
                        <a class="botao-deletar" href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">
                            <button type="button" class="btn btn-danger">
                                Deletar
                            </button>
                        </a>

                    </div>
                </div>

                <div class = "row col-lg-12">
                    <h2 th:text="${alimento.nome}"></h2>
                    <h4 th:text="${alimento.categoria.nome}"></h4>
                </div>


                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-6">
                        <div class="tamanho-div-imagem">
                            <img th:src="${alimento.urlImagemGrande}" alt="Imagem do Alimento" id="imagemProduto"/>
                        </div>
                        <div id="tabela-nutricional">
                            <ul class="list-group">
                                <center>
                                    <li class="list-group-item">
                                        <h3>
                                            <b>Tabela Nutricional</b>
                                        </h3>
                                    </li>
                                </center>
                                <li class="list-group-item">
                                    Para porção de

                                    <text  value="porcaoAlimento" id="porcaoAlimento"  th:text="${alimento.porcaoExibicao}"> </text>
                                    <text  value="unidade" id="unidade"  th:text="${alimento.unidadeExibicao}"> </text>

                                </li>
                                <li class="list-group-item">
                                    <label  value="calorias" id="valor-caloria" class="badge" th:text="${legenda.calorias}" th:value="${alimento.calorias}"> </label>
                                    Calorias
                                </li>
                                <li class="list-group-item">
                                    <label id="valor-acucar" class="badge" th:text="${legenda.acucar}" th:value="${alimento.acucar}" ></label>
                                    Açúcar
                                </li>
                                <li class="list-group-item">
                                    <span id="valor-sodio" class="badge" th:text="${legenda.sodio}" th:value="${alimento.sodio}"></span>
                                    Sódio
                                </li>
                                <li class="list-group-item">
                                    <span id="valor-gordura" class="badge" th:text="${legenda.gordura}" th:value="${alimento.gordura}"></span>
                                    Gordura
                                </li>
                                <li class="list-group-item">
                                    <h4>
                                        <b><center>Legenda</center></b>
                                    </h4>

                                    <h6 class="list-group-item">
                                        <B>NA</B> - Não avaliado
                                        <br />
                                        <b>TR</b> - Traço para medidas entre 0 à 0.5
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-5 col-lg-6 row medidas-visuais">

                        <div class="espacoAcucar">
                            <div class="row">
                                <div class="col-md-10 alinhamentos">
                                    <h3 class="medidas-visuais-titulo">Açúcar: </h3>
                                    <h3 class="texto-numero-colher" th:text="${medidas.colheresDeAcucar}"></h3>
                                    <h3 class="texto-colheres">colheres </h3>
                                </div>

                            </div>


                            <div class="row">
                                <span class="col-md-10 alinhamentos"><i>Cada colher de chá contém 1.76g de açúcar.</i></span>
                                <div class="col-md-10 alinhamentos" id="imagem-colher-acucar" data-toggle="popover" title="Cada colher de chá contém 1.76g de açúcar."></div>
                            </div>
                        </div>

                        <div class="espacoSal">
                            <div class="row">
                                <div class="col-md-10 alinhamentos">
                                    <h3 class="medidas-visuais-titulo">Sal:</h3>
                                    <h3 class="texto-numero-colher" th:text="${medidas.colheresDeSal}"></h3>
                                    <h3 class="texto-colheres">colheres</h3>
                                </div>
                            </div>

                            <div class="row">
                                <span class="col-md-10 alinhamentos"><i>Cada colher de chá contém 2.06g de sal</i></span>
                                <div class="col-md-10 alinhamentos" id="imagem-colher-sal" data-toggle="popover" title="Cada colher de chá contém 2.06g de sal"></div>
                            </div>
                        </div>

                        <div class="espacoGordura">
                            <div class="row">
                                <div class="col-md-10 alinhamentos">
                                    <h3 class="medidas-visuais-titulo">Gordura:</h3>
                                    <h3 class="texto-numero-colher" th:text="${medidas.colheresDeGordura}"></h3>
                                    <h3 class="texto-colheres">colheres</h3>
                                </div>
                            </div>

                            <div class="row">
                                <span class="col-md-10 alinhamentos"><i>Cada colher de chá contém 2.0ml de gordura</i></span>
                                <div class="col-md-10 alinhamentos" id="imagem-colher-gordura" data-toggle="popover" title="Cada colher de chá contém 2.0ml de gordura"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog ajuste-recuperar" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Confirmar exclusao de Alimento</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <form class="form-horizontal" th:action="@{/recuperarSenha}" th:object="${Usuario}" method="POST">
                                    <div id="infoAlimentoDeletar" class="media">
                                        <div id="imagemAlimento" class="media-left media-middle" >
                                            <img th:src="${alimento.urlImagemPequena}" class="img-rounded media-object imagem-grid"/>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" th:text="${alimento.nome}" id="alimento"></h4>
                                            <p id="categoria" th:text="${alimento.getCategoria().getNome()}"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <a class="botao-deletar" th:href="@{'/deletarAlimento/?codigo=' + ${alimento.codigo}}">
                                <button type="button" class="btn btn-primary">
                                    Confirmar
                                </button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    <nav th:replace="fragmentos/rodape :: rodape"></nav>

    <div id="template-colher" class="colher" style="display:none">
        <img id="image" class="colher"/>
    </div>

    <div id="template-sem-colher" class="sem-colher" style="display:none">
       <span><i>A quantia não é suficiente para uma medida de colher.</i></span>
    </div>

</body>
</html>
