<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>

        <title>Detalhe do Alimento</title>

        <link th:replace="fragmentos/header :: flaticon-css" />
        <link th:replace="fragmentos/header :: bootstrap-css" />
        <link th:replace="fragmentos/header :: jqueryui-css" />
        <link th:replace="fragmentos/header :: principal-css" />
        <link th:replace="fragmentos/header :: favicon-ico"/>
        <link th:replace="fragmentos/header :: busca-icon" />
        <link th:replace="fragmentos/header :: busca-css"/>
        <script th:replace="fragmentos/header :: jquery"/>
        <script th:replace="fragmentos/header :: jqueryui"/>
        <script th:replace="fragmentos/header :: bootstrap-js"/>
        <script th:replace="fragmentos/header :: query-string-js"/>
        <script th:replace="fragmentos/header :: busca"/>
        <script type="text/javascript" src="/js/home3.js"/>

        <link type="text/css" href="/css/detalhe.css" rel="stylesheet"/>
        <script type="text/javascript" src="/js/detalhe.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-slider.css" media="all" />
        <script type="text/javascript" src="/js/bootstrap-slider.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/slider.css"/>
        <link type="text/css" href="/css/calculadora.css" rel="stylesheet"/>
    </head>

    <body>
        <nav th:replace="fragmentos/header :: cabecalho"></nav>
        <p id="gordura" th:value="${medidas.colheresDeGordura}"></p>
        <p id="acucar" th:value="${medidas.colheresDeAcucar}"></p>
        <p id="sal" th:value="${medidas.colheresDeSal}"></p>

        <div class="titulo-pagina-detalhe" id="titulo-detalhe">
            <div id="tituloAlimento">
                <h1 class="block" th:text="${alimento.nome}"></h1>
                <h3 class="tirando-margin" th:text="${alimento.categoria.nome}"></h3>
            </div>
        </div>

        <div class="container ajustando-container" id="mostraAlimento">
        <input type="hidden" id="codigo" th:value="${alimento.codigo}"/>


            <div class="row col-lg-12" id="imagem-tabela">

                <div id="imagem-detalhe" class="row col-lg-6 img-responsive  center-block">
                    <center>
                        <img class="img-responsive" th:src="${alimento.urlImagemGrande}" alt="Imagem do Alimento" id="imagemProduto"/>
                    </center>
                    <a class="ancora-link ajuste-ancora" href="#medidas-visuais-ancora">
                        Ver medidas visuais
                    </a>
                </div>

                <div class="col-lg-2 col-md-2 grupo-btn botoes-admin"  th:if="${#httpServletRequest.remoteUser != null}" >
                    <a th:href="@{'/editarAlimento?codigo=' + ${alimento.codigo}}" class="botao-editar">
                        <button type="button" class="btn btn-warning">
                            Editar
                        </button>
                    </a>

                    <a class="botao-deletar" href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">
                        <button type="button" class="btn btn-danger">
                            Deletar
                        </button>
                    </a>
                </div>

                <div id="tabela-detalhe" class="row col-lg-6 img-responsive center-block">
                    <ul class="list-group-item img-responsive">

                        <table class="table table-bordered">
                            <thead>
                            <li class="list-group-item ajustando-tabela">
                            <h3>
                            <b>Tabela Nutricional</b>
                            </h3>
                            Para porção de
                            <text  value="porcaoAlimento" id="porcaoAlimento"  th:text="${alimento.porcaoExibicao}"> </text>
                            <text  value="unidade" id="unidade"  th:text="${alimento.unidadeExibicao}"> </text>, igual a
                            <text  value="valorMedidaCaseira" id="valorMedidaCaseira"  th:text="${alimento.valorMedidaCaseira}"> </text>
                            <text  value="unidadeMedidaCaseira" id="unidadeMedidaCaseira"  th:text="${alimento.unidadeMedidaCaseira}"> </text>.
                            </li>
                            </thead>

                            <tbody>
                            <tr>
                                <td colspan="3">
                                    <div class="center titulo-caloria-div">
                                        <p class="titulo-medio-detalhe titulo-caloria">Calorias:</p>
                                        <div class="titulo-caloria-valor">
                                        <div class="titulo-medio-detalhe titulo-caloria" value="calorias" id="valor-caloria" th:text="${legenda.calorias}" th:value="${alimento.exibicaoCalorias}"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="ajuste-tamanho-td-calculadora">
                                    <p class="titulo-pequeno-calculadora">Açúcar</p>
                                    <hr/>
                                    <div class="center calculadora-medidas-visuais">
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block valor-colher-acucar" th:value="${medidas.colheresDeAcucar}" th:text="${medidas.colheresDeAcucar}"></div>
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block ajuste-medidas-visuais-calculadora">x</div>
                                        <img class="colher-detalhe" src="/img/colher-acucar.svg"/>
                                    </div>
                                    <div class="center tamanho-div-total">
                                        <div class="centraliza-texto-detalhe center">
                                            <div class="block">Total: </div>
                                            <div class="centralizar-texto block tamanho-texto" id="valor-acucar" th:text="${legenda.acucar}" th:value="${alimento.exibicaoAcucar}"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="ajuste-tamanho-td-calculadora">
                                    <p class="titulo-pequeno-calculadora">Gordura</p>
                                    <hr/>

                                    <div class="center calculadora-medidas-visuais">
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block valor-colher-gordura" th:value="${medidas.colheresDeGordura}" th:text="${medidas.colheresDeGordura}"></div>
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block ajuste-medidas-visuais-calculadora">x</div>
                                        <img class="colher-detalhe" src="/img/colher-gordura.svg"/>
                                    </div>

                                    <div class="center tamanho-div-total">
                                        <div class="centraliza-texto-detalhe center">
                                            <div class="block">Total: </div>
                                            <div class="centralizar-texto block tamanho-texto" id="valor-gordura" th:text="${legenda.gordura}" th:value="${alimento.exibicaoGordura}"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="ajuste-tamanho-td-calculadora">
                                    <p class="titulo-pequeno-calculadora">Sal</p>
                                    <hr/>
                                    <div class="center calculadora-medidas-visuais">
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block valor-colher-sal" th:value="${medidas.colheresDeSal}" th:text="${medidas.colheresDeSal}"></div>
                                        <div class="titulo-medio-calculadora colher-calculadora-texto block ajuste-medidas-visuais-calculadora">x</div>
                                        <img class="colher-detalhe" src="/img/colher-sal.svg"/>
                                    </div>
                                    <div class="center tamanho-div-total">
                                        <div class="centraliza-texto-detalhe center">
                                            <div class="block">Total: </div>
                                            <p class="centralizar-texto block tamanho-texto" id="valor-sodio" th:text="${legenda.sodio}" th:value="${alimento.exibicaoSodio}"></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <ul class="ajustando-tabela-2">
                            <h6 class="list-group-item">
                                <B>NA</B> - Não avaliado
                                <br />
                                <b>TR</b> - Traço para medidas entre 0 à 0.5
                            </h6>
                            <span class="fonte">Fonte:</span>
                            <text  value="fonte" id="fonte" class="fonte" th:text="${alimento.fonte}"></text>.
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <p id="medidas-visuais-ancora"></p>
        <div id="medidas-visuais">
            <div class="seta-ancora">
                <div class="alinhar-seta-direita">
                    <a href="#mostraAlimento">
                        <img class="imagem-seta-ancora" src="/img/seta-cima.png"/>
                    </a>
                </div>
            </div>

            <div class="container">
                <div id="titulo-medidas">
                    <div id="tituloMedidas">
                        <h2 class="block"> Altere a porção e veja abaixo as medidas visuais</h2>
                        <div id="porcaoAlimento">
                            <text class="tamanhoFonte">Para porção de</text>
                            <text class="tamanhoFonte" th:value="alimento.porcaoExibicao" id="porcaoAlimentoCima"  th:text="${alimento.porcaoExibicao}"></text>
                            <text class="tamanhoFonte" value="unidade" id="unidadeAlimentoCima"  th:text="${alimento.unidadeExibicao}"></text>

                            <text class="tamanhoFonte">igual a</text>
                            <text  class="tamanhoFonte" value="valorMedidaCaseira" id="valorMedidaCaseiraSlider"  th:text="${alimento.valorMedidaCaseira}"> </text>
                            <text  class="tamanhoFonte" value="unidadeMedidaCaseira" id="unidadeMedidaCaseiraSlider"  th:text="${alimento.unidadeMedidaCaseira}"> </text>

                            <div id="slider-botao">
                                <input id="valorMaximo" type="hidden" th:value="${alimento.valorMaximoMedida}"/>
                                <input id="slider" data-slider-id='detalhe-slider' data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="1"/>

                                <button id="adicionaAlimento" type="button" class="btn btn-warning botao-add-calculadora">
                                    Adicione à calculadora
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="espacoAcucar">
                    <div class="row">
                        <div class="col-md-11 alinhamentos">
                            <h3 class="medidas-visuais-titulo">Açúcar: </h3>
                            <h3 class="texto-numero-colher valor-colher-acucar" th:value="${medidas.colheresDeAcucar}" th:text="${medidas.colheresDeAcucar}"></h3>
                            <h3 class="texto-colheres">colher(es) de chá</h3>
                        </div>
                    </div>

                    <div class="row">
                        <span class="col-md-11 alinhamentos"><i>Cada colher de chá contém 1.76g de açúcar.</i></span>
                        <div class="col-md-12 alinhamentos" id="imagem-colher-acucar" data-toggle="popover" title="Cada colher de chá contém 1.76g de açúcar."></div>
                    </div>
                </div>

                <div class="espacoGordura">
                    <div class="row">
                        <div class="col-md-11 alinhamentos">
                            <h3 class="medidas-visuais-titulo">Gordura:</h3>
                            <h3 class="texto-numero-colher valor-colher-gordura" th:value="${medidas.colheresDeGordura}" th:text="${medidas.colheresDeGordura}"></h3>
                            <h3 class="texto-colheres">colher(es) de chá</h3>
                        </div>
                    </div>

                    <div class="row">
                        <span class="col-md-11 alinhamentos"><i>Cada colher de chá contém 2.0g de gordura</i></span>
                        <div class="col-md-12 alinhamentos" id="imagem-colher-gordura" data-toggle="popover" title="Cada colher de chá contém 2.0g de gordura"></div>
                    </div>
                </div>

                <div class="espacoSal">
                    <div class="row">
                        <div class="col-md-11 alinhamentos">
                            <h3 class="medidas-visuais-titulo">Sal:</h3>
                            <h3 class="texto-numero-colher valor-colher-sal" th:value="${medidas.colheresDeSal}" th:text="${medidas.colheresDeSal}"></h3>
                            <h3 class="texto-colheres">colher(es) de chá</h3>
                        </div>
                    </div>

                    <div class="row">
                        <span class="col-md-11 alinhamentos"><i>Cada colher de chá contém 2.06g de sal</i></span>
                        <div class="col-md-12 alinhamentos" id="imagem-colher-sal" data-toggle="popover" title="Cada colher de chá contém 2.06g de sal"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog ajuste-recuperar" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Confirmar exclusão de Alimento</h4>
                    </div>

                    <div class="modal-body">
                        <div>
                            <form class="form-horizontal" th:action="@{/recuperarSenha}" th:object="${Usuario}" method="POST">
                                <div id="infoAlimentoDeletar" class="media">
                                    <div id="imagemAlimento" class="media-left media-middle" >
                                        <img th:src="${alimento.urlImagemPequena}" class="img-rounded media-object imagem-grid"/>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" th:text="${alimento.nome}" id="alimento"></h4>
                                        <p id="categoria" th:text="${alimento.getCategoria().getNome()}"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <a class="botao-deletar" th:href="@{'/deletarAlimento/?codigo=' + ${alimento.codigo}}">
                            <button type="button" class="btn btn-primary">
                                Confirmar
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <nav th:replace="fragmentos/rodape :: rodape"></nav>
        <div id="template-colher" class="colher" style="display:none">
            <img id="image" class="colher"/>
        </div>

        <div id="template-sem-colher" class="sem-colher" style="display:none">
           <span><i>A quantia não é suficiente para uma medida de colher.</i></span>
        </div>
        <script type="text/javascript" src="/js/slider.js"></script>
    </body>
</html>
