<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Detalhe do Produto</title>
    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="../css/detalhe-do-produto.css" rel="stylesheet"/>
</head>
<body>
<div class="jumbotron">
    <center>
        <h2>
            Detalhe do Produto
        </h2>
    </center>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-5">
            <h4>Nescau1</h4>
        </div>
        <div class="col-xs-6 col-md-5">
            <h4>Nescau2</h4>
            <img src="../img/nescau.png" alt="Imagem do Nescau" class="imagem-detalhe-produto" id="imagemProduto"/>
        </div>

    </div>

    <div class="row">
        <div class="container col-xs-6 col-md-5">
            <ul class="list-group">
                <center>
                    <li class="list-group-item">
                        <h3>
                            Tabela Nutricional
                        </h3>
                    </li>
                </center>
                <li class="list-group-item">
                    Para porção de 100g
                </li>
                <li class="list-group-item">
                    <span class="badge">14 kcal</span>
                    Calorias
                </li>
                <li class="list-group-item">
                    <span class="badge">14 g</span>
                    Açucar
                </li>
                <li class="list-group-item">
                    <span class="badge">14 g</span>
                    Sódio
                </li>
            </ul>
        </div>
        <div class="container col-xs-6 col-md-5">

        </div>
    </div>
</div>
</body>
</html>