<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detalhe do Produto</title>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />

    <script th:replace="fragmentos/header :: jquery"> </script>
    <script th:replace="fragmentos/header :: jqueryui"> </script>
    <script th:replace="fragmentos/header :: query-string-js"> </script>
    <script th:replace="fragmentos/header :: busca"> </script>
    <script th:replace="fragmentos/header :: detalhe"> </script>

</head>
<body>
    <nav th:replace="fragmentos/header :: cabecalho"></nav>

        <div class="jumbotron">
            <center>
                <h2>
                    Detalhe do Produto
                </h2>
            </center>

            <p id="gordura" th:value="${gordura}"></p>
            <p id="acucar" th:value="${acucar}"></p>
            <p id="sal" th:value="${sal}"></p>
        </div>
            <div class="container" th:object="${alimentoDetalhe}" id="mostraAlimento">
                <div class = "row" id="infoAlimento">
                    <h3 th:text="*{nome}" class="alimentonome"></h3>
                    <h4 th:text="*{getCategoria().getNome()}" class="alimentocategoria"></h4>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-5">
                        <img th:src="*{urlImagem}" alt="Imagem do Alimento" class="imagem-detalhe-produto" id="imagemProduto"/>
                    </div>
                    <div class="col-xs-6 col-md-5" id="tabela-nutricional">
                        <ul class="list-group">
                            <center>
                                <li class="list-group-item">
                                    <h3>
                                        <b>Tabela Nutricional</b>
                                    </h3>
                                </li>
                            </center>
                            <li class="list-group-item">
                                Para porção de 100g
                            </li>
                            <li class="list-group-item">
                                <label  value="calorias" id="valor-caloria" class="badge" th:text="*{calorias}" th:value="*{calorias}"> </label>
                                Calorias
                            </li>
                            <li class="list-group-item">
                                <label id="valor-acucar" class="badge" th:text="*{acucarGramas}" th:value="*{acucarGramas}" ></label>
                                Açucar
                            </li>
                            <li class="list-group-item">
                                <span id="valor-sodio" class="badge" th:text="*{sodioMiligramas}" th:value="*{sodioMiligramas}"></span>
                                Sódio
                            </li>
                            <li class="list-group-item">
                                <span id="valor-gordura" class="badge" th:text="*{gorduraGramas}" th:value="*{gorduraGramas}"></span>
                                Gordura
                            </li>
                            <li class="list-group-item">
                                <h4>
                                    <b><center>Legenda</center></b>
                                </h4>

                                <h6 class="list-group-item">
                                    <B>NA</B> - Não avaliado
                                    <br />
                                    <b>TR</b> - Traço para medidas entre 0 à 0.5
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row medidas-visuais">

                    <div class="col-md-8">
                        <h3 class="medidas-visuais-titulo">Açucar:</h3>
                    </div>
                    <div class="col-md-8" id="imagem-colher-acucar" data-toggle="popover" title="Cada colher de chá contém 1.76g de açúcar."></div>

                    <div class="col-md-8">
                        <h3 class="medidas-visuais-titulo">Sal:</h3>
                    </div>
                    <div class="col-md-8" id="imagem-colher-sal" data-toggle="popover" title="Cada colher de chá contém 2.06g de sal"></div>

                    <div class="col-md-8">
                        <h3 class="medidas-visuais-titulo">Gordura:</h3>
                    </div>
                    <div class="col-md-8" id="imagem-colher-gordura" data-toggle="popover" title="Cada colher de chá contém 2.0ml de gordura"></div>
                </div>
            </div>



    <div id="template-colher" class="colher" style="display:none">
        <img id="image" src="/img/colher.png" class="colher"/>
    </div>

    <div id="template-sem-colher" class="sem-colher" style="display:none">
       <p><i>A quantia não é suficiente para uma medida de colher.</i></p>
    </div>

</body>
</html>
