<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <title>Página não encontrada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>

    <link th:replace="fragmentos/header :: flaticon-css" />
    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <link th:replace="fragmentos/header :: favicon-ico"/>
    <link th:replace="fragmentos/header :: busca-icon" />
    <link th:replace="fragmentos/header :: busca-css"/>
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <script type="text/javascript" src="/js/home3.js"/>
    <link rel="stylesheet" type="text/css" href="css/error.css"/>

</head>

<body>
    <nav th:replace="fragmentos/header :: cabecalho(${nomeUsuario})"></nav>

    <div class="container wrapper-conteudo tamanho-minimo-pagina-erro">

        <h1>Desculpe, essa página não está disponível  :(</h1>
        <h5>O link que você seguiu pode estar quebrado ou a página pode ter sido removida. Nossa equipe já está trabalhando para resolver esse problema.</h5>

    </div>
    <nav th:replace="fragmentos/rodape :: rodape"></nav>
    <script src="/js/cbpAnimatedHeader.js"></script>
</body>
</html>