<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhe do Produto</title>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link rel="stylesheet" type="text/css" href="/css/principal.css"/>
    <link rel="stylesheet" type="text/css" href="/css/formularioAlimento.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cloudinary.css"/>


    <script th:replace="fragmentos/header :: jquery"> </script>
    <script th:replace="fragmentos/header :: jqueryui"> </script>
    <script th:replace="fragmentos/header :: query-string-js"> </script>
    <script src="js/formularioAlimento.js"> </script>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>


    <link th:replace="fragmentos/header :: favicon-ico" />

    <script src="js/validacaoCadastroAlimento.js"> </script>


</head>
    <body>
        <nav th:replace="fragmentos/header :: cabecalho"></nav>
        <div class="jumbotron">
            <center>
                <h2>Cadastro de Alimento</h2>
            </center>
        </div>
        <div class="container">
            <div class="row">
                <form onSubmit="return validarCadastro();" th:action="@{/gerenciarAlimento}" th:object="${alimento}" method="POST" id="js-upload-form">
                    <input TYPE="hidden" NAME="codigo" id="codigo" th:field="*{codigo}"/>
                <div class="col-xs-6 col-md-5 esquerda">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Imagem Alimento</strong></div>
                            <div class="panel-body">
                                <h4 class="alinhaBotaoUpload">Selecione uma imagem de seu computador</h4>
                                <div class="alinhaBotaoUpload">
                                    <a href="#" id="upload_widget_opener">Upload</a>

                                    <input type="hidden" name="urlImagemPequena" id="urlImagemPequena" th:field="*{urlImagemPequena}"/>

                                    <input type="hidden" name="urlImagemGrande" id="urlImagemGrande" th:field="*{urlImagemGrande}"/>
                                </div>
                                <br/>
                                <div class="col-xs-12 col-md-12">
                                    <img th:src="*{urlImagemGrande}" id='imagemAlimento' alt='Imagem do Alimento'/>
                                </div>

                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-6 direita">
                        <div class="form-group">
                            <label >Nome Alimento</label>
                            <input id="nomeAlimento" type="text" th:field="*{nome}" placeholder="Ex.: Abacate" class="form-control" name="nomeAlimento" />
                        </div>
                        <div id="espacoErroNome">
                            <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroNome">
                                <label>Preencha o campo com o nome do alimento.</label>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label >Selecione uma categoria</label>
                            <select id="categoriaSelecionada" class="form-control" th:field="*{categoria}" >
                                <option value="0">Selecione uma categoria</option>
                                <option th:each="categoria: ${categorias}" th:text="${categoria.nome}" th:value="${categoria.codigo}" >Selecione uma categoria</option>
                            </select>
                        </div>
                        <div id="espacoErroCategoria">
                            <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroCategoria">
                                <label>Selecione uma categoria.</label>
                            </div>
                        </div>


                            <ul class="list-group">
                                <center>
                                    <li class="list-group-item">
                                        <h3>
                                            <b>Tabela Nutricional</b>
                                        </h3>
                                    </li>
                                </center>
                                    <li class="list-group-item">
                                        <div class="alinha-esquerda">
                                            Porção Base para Calculo:
                                        </div>
                                        <div class="alinha-direita" >
                                            <input id="porcaoBase" class="input-alimento" placeholder="Ex.: 100" th:field="*{porcaoBaseCalculo}" type="text" name="porcao" value=""/>
                                            <label class="radio-inline" required="true">
                                                <input th:field="*{unidadeBaseCalculo}" type="radio" name="ml" id="mlCalculo" value="ml"/>
                                                ml
                                            </label>
                                            <label class="radio-inline">
                                                <input th:field="*{unidadeBaseCalculo}" type="radio" name="g" id="gCalculo" value="g" />
                                                g
                                            </label>
                                        </div>
                                        <div id="espacoErroPorcaoBase" class="div-erro">
                                            <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroPorcaoBase">
                                                <label>Preencha o campo com números e marque a unidade da porção. </label>
                                            </div>
                                        </div>
                                    </li>

                                <li class="list-group-item">
                                    <div class="alinha-esquerda">
                                        Porção de Exibição:
                                    </div>
                                    <div class="alinha-direita" >
                                        <input id="porcaoExibicao" class="input-alimento" placeholder="Ex.: 100" th:field="*{porcaoExibicao}" type="text" name="porcao" value=""/>
                                        <label class="radio-inline" required="true">
                                            <input th:field="*{unidadeExibicao}" type="radio" name="ml" id="mlExibicao" value="ml"/>
                                            ml
                                        </label>
                                        <label class="radio-inline">
                                            <input th:field="*{unidadeExibicao}" type="radio" name="g" id="gExibicao" value="g" />
                                            g
                                        </label>

                                    </div>
                                    <div id="espacoErroPorcaoExibicao" class="div-erro">
                                        <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroPorcaoExibicao">
                                            <label>Preencha o campo com números e marque a unidade da porção. </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Calorias:</div>
                                    <div class="alinha-direita">
                                        <input id="porcaoCalorias" class="input-alimento" placeholder="Ex.: 100" th:field="*{calorias}" type="text" name="calorias" value=""/>
                                        kcal
                                        <label class="radio-inline">
                                            <input type="checkbox" class="NA" id="naCalorias" value="porcaoCalorias"/>
                                            NA
                                        </label>
                                    </div>
                                    <div id="espacoErroCalorias" class="div-erro">
                                        <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroCalorias">
                                            <label>Preencha o campo com números ou marque a opção "NA" para calorias. </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Açucar:</div>
                                    <div class="alinha-direita">
                                        <input id="porcaoAcucar" class="input-alimento" placeholder="Ex.: 100" th:field="*{acucar}" type="text" name="acucar" value=""/>
                                        g
                                        <label class="radio-inline">
                                                <input type="checkbox" class="NA" id="naAcucar" value="porcaoAcucar"/>
                                            NA
                                        </label>
                                    </div>
                                    <div id="espacoErroAcucar" class="div-erro">
                                        <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroAcucar">
                                            <label>Preencha o campo com números ou marque a opção "NA" para açucar. </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Sódio:</div>
                                    <div class="alinha-direita">
                                        <input id="porcaoSodio" class="input-alimento" placeholder="Ex.: 100" th:field="*{sodio}" type="text" name="sodio" value=""/>
                                        mg
                                        <label class="radio-inline">
                                            <input type="checkbox" class="NA" id="naSodio" value="porcaoSodio"/>
                                            NA
                                        </label>
                                    </div>
                                    <div id="espacoErroSodio" class="div-erro">
                                        <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroSodio">
                                            <label>Preencha o campo com números ou marque a opção "NA" para sodio. </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Gordura:</div>
                                    <div class="alinha-direita">
                                        <input id="porcaoGordura" class="input-alimento" placeholder="Ex.: 100" th:field="*{gordura}" type="text" name="gordura" value=""/>
                                        g
                                        <label class="radio-inline">
                                            <input type="checkbox" class="NA" id="naGordura" value="porcaoGordura"/>
                                            NA
                                        </label>
                                    </div>
                                    <div id="espacoErroGordura" class="div-erro">
                                        <div class="col-sm-offset-0 col-sm-12 alert alert-danger centralizar-texto" id="erroGordura">
                                            <label>Preencha o campo com números ou marque a opção "NA" para gordura. </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Observações:</div>
                                    <div class="alinha-direita">
                                        <textarea class="input-alimento" placeholder="Ex.: Marca" th:field="*{observacao}" type="textarea" name="observacao" value=""/>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h4>
                                        <b><center>Legenda</center></b>
                                    </h4>
                                    <h6 class="list-group-item">
                                        <B>NA</B> - Não avaliado
                                        <br />
                                        <b>TR</b> - Traço para medidas entre 0 à 0.5
                                    </h6>
                                </li>
                            </ul>
                                <input class="btn btn-danger botao-cancelar" type="submit"  id="cancelar" value="Cancelar"/>
                                <input class="btn btn-success botao-enviar" type="submit"  id="enviar" value="Enviar Dados"/>
                    <br/><br/><br/>
                </div>
                </form>
            </div>
        </div>
        <nav th:replace="fragmentos/rodape :: rodape"></nav>

    </body>
</html>