<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhe do Produto</title>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link rel="stylesheet" type="text/css" href="/css/principal.css"/>
    <link rel="stylesheet" type="text/css" href="/css/formularioAlimento.css"/>

    <script type="text/javascript" src="js/teste.js"> </script>


    <script th:replace="fragmentos/header :: jquery"> </script>
    <script th:replace="fragmentos/header :: jqueryui"> </script>
    <script th:replace="fragmentos/header :: query-string-js"> </script>
    <script src="js/formularioAlimento.js"> </script>


</head>
    <body>
        <nav th:replace="fragmentos/header :: cabecalho"></nav>

        <div class="jumbotron">
            <center>
                <h2>Cadastro de Alimento</h2>
            </center>
        </div>
        <div class="container">
            <div class="row">
                <form  th:action="@{/gerenciarAlimento}" th:object="${alimento}" method="POST" id="js-upload-form">
                    <input TYPE="hidden" NAME="codigo" id="codigo" th:field="*{codigo}"/>
                <div class="col-xs-6 col-md-5 esquerda">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Imagem Alimento</strong></div>


                                <!-- Standar Form -->
                                <h4>Selecione uma imagem em seu Pc.</h4>
                    </div>


                <div class="col-xs-6 col-md-5 direita">
                    <!--<form  action="">-->
                        <div class="form-group">
                            <label >Nome Alimento</label>
                            <input type="text" th:field="*{nome}" class="form-control" name="nomeAlimento"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label >Selecione uma categoria</label>
                            <select class="form-control" th:field="*{categoria}">
                                <option th:each="categoria: ${categorias}" th:text="${categoria.nome}" th:value="${categoria.codigo}" >Selecione uma categoria</option>
                            </select>
                        </div>

                        <br/>
                            <ul class="list-group">
                                <center>
                                    <li class="list-group-item">
                                        <h3>
                                            <b>Tabela Nutricional</b>
                                        </h3>
                                    </li>
                                </center>
                                    <li class="list-group-item">
                                        <div class="alinha-esquerda">
                                            Porção alimento:
                                        </div>

                                        <div class="alinha-direita" >
                                            <input class="input-alimento" th:field="*{porcaoAlimento}" type="text" name="porcao" value=""/>
                                            <label class="radio-inline">
                                                <input th:field="*{unidade}" type="radio" name="ml" id="ml" value="ml"/>
                                                ml
                                            </label>
                                            <label class="radio-inline">
                                                <input th:field="*{unidade}" type="radio" name="g" id="g" value="g" />
                                                g
                                            </label>

                                        </div>
                                    </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Calorias:</div>
                                    <div class="alinha-direita">
                                        <input class="input-alimento" th:field="*{calorias}" type="text" name="calorias" value=""/>
                                        kcal
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Açucar:</div>
                                    <div class="alinha-direita">
                                        <input class="input-alimento" th:field="*{acucar}" type="text" name="acucar" value=""/>
                                        g
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Sódio:</div>
                                    <div class="alinha-direita">
                                        <input class="input-alimento" th:field="*{sodio}" type="text" name="sodio" value=""/>
                                        mg
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="alinha-esquerda">Gordura:</div>
                                    <div class="alinha-direita">
                                        <input class="input-alimento" th:field="*{gordura}" type="text" name="gordura" value=""/>
                                        g
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h4>
                                        <b><center>Legenda</center></b>
                                    </h4>

                                    <h6 class="list-group-item">
                                        <B>NA</B> - Não avaliado
                                        <br />
                                        <b>TR</b> - Traço para medidas entre 0 à 0.5
                                    </h6>
                                </li>
                            </ul>
                                <input class="btn btn-danger botao-cancelar" type="submit"  id="cancelar" value="Cancelar"/>
                                <input class="btn btn-success botao-enviar" type="submit"  id="enviar" value="Enviar Dados"/>

                    <br/><br/><br/>
                </div>
                </form>
            </div>


        </div>
        <nav th:replace="fragmentos/rodape :: rodape"></nav>

    </body>
</html>