<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exclusao de usuario</title>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <link rel="stylesheet" type="text/css" href="css/formularioDeletarUsuario.css"/>
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: flaticon-css" />
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <link th:replace="fragmentos/header :: favicon-ico" />
</head>
<body>

    <nav th:replace="fragmentos/header :: cabecalho"></nav>



    <div class="titulo-login"><h1>Deletar Usuário</h1></div>
    <div class="form-group tamanho-minimo-pagina-usuario container wrapper-conteudo">
        <form>
        <div class="col-sm-offset-4 col-sm-4">
            <label >Selecione um usuario: </label>
            <select id="valorUsuario" class="form-control">
                <option value="0">Selecione um usuario</option>
                <option th:each="usuario: ${usuarios}" th:text="${usuario.nome}" th:value="${usuario.codigo}"> </option>
            </select>

        </div>



            <div class="col-sm-offset-4 col-sm-4 botao-deletar-usuario">
                <a class="botao-deletar" href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">
                    <button type="button" class="btn btn-danger">
                        Deletar
                    </button>
                </a>
            </div>
        </form>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog ajuste-recuperar" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Confirmar exclusao de Usuário</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a class="botao-deletar" id="botaoDeletar" href="#">
                        <button type="button" id="botao-confirmacao" class="btn btn-primary">
                            Confirmar
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <script>
    //  <![CDATA[

        $(document).ready(function(){

            $("#botaoDeletar").click(function(e){

                if(deletarUsuario())
                {
                    return true;
                }
                else{

                }
                return false;
            });
        });

           function deletarUsuario(){
                var valor = $('#valorUsuario option:selected').val();

                if(valor){
                   setParametro("codigo", valor);
                   acessarPaginaComParametros("deletarUsuario");
                    return true;
                }

            return false;
        }
        //]]>
    </script>








    <nav th:replace="fragmentos/rodape :: rodape"></nav>


</body>
</html>