<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>

    <title>Detalhe do Produto</title>
    <title>Login</title>
    <link href="css/formularioAlimento.css" rel="stylesheet"/>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: flaticon-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <link th:replace="fragmentos/header :: favicon-ico" />

</head>
<body>
<nav th:replace="fragmentos/header :: cabecalho"></nav>

<div class="titulo-login"><h1>Cadastro de Administrador</h1></div>
<div class="container-fluid">
    <div class="bloco-login">

        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form class="form-horizontal" th:action="@{/formularioUsuario}" th:object="${usuario}" method="POST">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <label for="inputNome" class="control-label">Nome:</label>
                    <input th:field="*{nome}" type="nome" name="nome" class="form-control" id="inputnome" placeholder="Nome usuário"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <label for="inputEmail3" class="control-label">E-mail:</label>
                    <input th:field="*{email}" type="email" name="username" class="form-control" id="inputEmail3" placeholder="Email"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <label for="inputPassword3" class="control-label">Senha:</label>
                    <input th:field="*{senha}" type="password" name="password" class="form-control" id="inputPassword3" placeholder="Senha"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-default">Cadastrar</button>
                    <a href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@fat"><button class="btn btn-default">Deletar</button></a>
                </div>
            </div>
        </form>

    </div>
</div>
<nav th:replace="fragmentos/rodape :: rodape"></nav>
</body>
</html>