<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>

		<title>Alimentos</title>

		<meta charset="utf-8" />
		<script src="js/modernizr.grid.js"></script>

		<link th:replace="fragmentos/header :: bootstrap-css" />
		<link th:replace="fragmentos/header :: jqueryui-css" />
		<link rel="stylesheet" type="text/css" href="css/principal.css"/>
		<link rel="stylesheet" type="text/css" href="css/grid.css"/>

		<script th:replace="fragmentos/header :: jquery"> </script>
		<script th:replace="fragmentos/header :: jqueryui"> </script>

		<script th:replace="fragmentos/header :: query-string-js"> </script>
		<script th:replace="fragmentos/header :: busca"> </script>

		<script src="js/grid.js"> </script>
		<script src="js/paginacao.js"> </script>
		<script src="js/categoria.js"> </script>
	</head>
	<body>

	<nav th:replace="fragmentos/header :: cabecalho"></nav>

	<div id="menu-categoria" class="btn-group categorias" role="group" aria-label="...">
		<center>
			<button th:each="categoria : ${categorias}" type="button" class="btn btn-primary btn-lg correcaocategoria" th:value="${categoria.codigo}" th:text="${categoria.nome}"></button>
		</center>
	</div>

	<div class="container wrapper-conteudo">
		
	<div class="container">

		<center>
			<label> Ordenar por nome </label>
			<select id="select-ordenacao" name="select-ordenacao">
				<option value="ASC" >Crescente</option>
				<option value="DESC">Decrescente</option>
			</select>

		</center>
		<br />
		<center>
			<p th:text="${erro}"></p>
		</center>

		<div class="container">
				<div class="row">
					<div th:each="alimento : ${alimentos}" class="col-xs-12 col-sm-6 col-md-4 col-md-offset-0">
						<a th:href="@{'/detalhe/' + ${alimento.codigo}}" class="list-group-item">
							<div id="infoAlimento" class="media">
								<div id="imagemAlimento" class="media-left media-middle" >
									<img th:src="${alimento.urlImagem}" class="img-rounded media-object imagem-grid"/>
								</div>
								<div class="media-body">
									<h4 class="media-heading" th:text="${alimento.nome}" id="alimento"></h4>
									<p id="categoria" th:text="${alimento.getCategoria().getNome()}"></p>
								</div>
							</div>
						</a>
					</div>
				</div>
		</div>
		<center>
			<nav th:if="${erro == null}" th:include="fragmentos/paginacao :: paginacao"></nav>
		</center>

	</div>

	<nav th:replace="fragmentos/rodape :: rodape"></nav>

	</body>
</html>