<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<script src="js/modernizr.grid.js"></script>	
		
		<link rel="stylesheet" type="text/css" href="css/grid.css" />
		
		<script th:replace="fragmentos/header :: jquery"> </script>
	</head>
	<body>
		<ul class="grid effect-4" id="grid">
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>			
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			<li><a href="http://drbl.in/fWMM"><img class="banana" src="img/banana.png" /></a></li>
			
		</ul>

		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/imagesloaded.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/AnimOnScroll.js"></script>
		<script src="js/grid.js"></script>		

		<!--<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>-->

	</body>
</html>