<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <title>Inimigos a mesa</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link th:replace="fragmentos/header :: flaticon-css" />
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <link th:replace="fragmentos/header :: favicon-ico" />

    <script src="/js/modernizr.custom.js"> </script>
</head>

<body>
<nav th:replace="fragmentos/header :: cabecalho-home"></nav>

<div class="container ajuste-espaco-top">

    <div class="main">

        <ul class="cbp-ig-grid ajuste-ul-home logo">

            <div>
                <div class="row">
                    <label class="cbp-ig-icon avocado-fruit68 logo"></label>
                </div>

                <div class="row">
                    <label class="escritaheader">Inimigos à mesa?</label>
                </div>

                <div class="row">
                    <label class="logotexto">Descubra o que você realmente come!</label>
                </div>

                <br/>

                <center>

                    <div class="buscar">

                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="Digite o nome de um alimento" id="input-busca" maxlength="256" />

												 <span class="input-group-btn">

													<button type="submit" id="btn-busca" class="btn btn-success">

                                                        <span class="glyphicon glyphicon-search"></span>

                                                    </button>

												</span>

                        </div>

                    </div>

                </center>

            </div>

        </ul>

        <!-- Logo/ Buscar/ Slogan - FIM -->

        <ul class="cbp-ig-grid ajuste-ul-home logo">
            <!--<h2>As medidas visuais apresentadas neste site</h2>-->
            <div class="info-home centraliza-vertical">
                <hr/>
                <div class="bloco-info">
                    <img class="colher-info" src="/img/colher-acucar.svg"/>
                    <div class="info-texto">
                        <p class="texto-info-colher">As medidas visuais apresentadas neste site </p>
                        <p class="texto-info-colher">Representam uma colher de chá</p>
                    </div>
                </div>
            </div>
        </ul>
        <hr/>
        <ul class="cbp-ig-grid">

            <li>

                <a th:href="@{/grid}">

                    <span class="cbp-ig-icon flaticon-cutlery22 icone-home"></span>

                    <h3 class="cbp-ig-title">Alimentos</h3>

                    <span class="cbp-ig-category">Lista de alimentos</span>

                </a>

            </li>
            <li>

                <a th:href="@{/sobre}">

                    <span class="cbp-ig-icon flaticon-info28 icone-home"></span>

                    <h3 class="cbp-ig-title">Sobre</h3>

                    <span class="cbp-ig-category">Quem somos</span>

                </a>

            </li>

            <li>

                <a th:href="@{/contato}">

                    <span class="cbp-ig-icon flaticon-mail59 icone-home"></span>

                    <h3 class="cbp-ig-title">Contato</h3>

                    <span class="cbp-ig-category">Fale conosco</span>

                </a>

            </li>

        </ul>

    </div>

</div>

<nav th:replace="fragmentos/rodape :: rodape"></nav>

</body>

</html>
