<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>Inimigos à mesa? </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />

    <script src="js/modernizr.custom.js"></script>

</head>
<body>
    <div class="container">

        <div style="width: 100%; height: 100px; background-color: #FF8C00; margin-top: -25px;">
            <div style="float:left;"><h1 style="padding: 20px; color: white;">Comidinhas Malvadas?</h1>
            </div>
            <div style="float:right; padding: 20px; color: white; font-weight: bold">
                <p>
                    Telefone: asdf<br />
                    E-mail: asdf
                </p>
            </div>
        </div>

        <br />

        <div class="main">

           <ul class="cbp-ig-grid">

               <li>

                   <a href="#">

                       <span class="cbp-ig-icon "><img src="img/lemons2.png" /></span>

                       <h3 class="cbp-ig-title">Bebidas</h3>

                       <span class="cbp-ig-category">texto</span>

                   </a>

               </li>

               <li>

                   <a href="#">

                       <span class="cbp-ig-icon"><img src="img/ekg.png" /></span>

                       <h3 class="cbp-ig-title">Saúde</h3>

                       <span class="cbp-ig-category">Hábitos saudáveis</span>

                   </a>

               </li>

               <li>

                   <a href="#">

                       <span class="cbp-ig-icon"><img src="img/berries.png" /></span>

                       <h3 class="cbp-ig-title">Frutas</h3>

                       <span class="cbp-ig-category">texto</span>

                   </a>

               </li>
               <li>

                   <a href="#">

                       <span class="cbp-ig-icon"><img src="img/baked4.png" /></span>

                       <h3 class="cbp-ig-title">Doces</h3>

                       <span class="cbp-ig-category">texto</span>

                   </a>

               </li>

               <li>
                   <h3 style="margin-top: 130px; font-size: 40px; color: #FF8C00">COMIDINHAS MALVADAS?</h3>
               </li>

               <li>
                   <a href="#">

                       <span class="cbp-ig-icon"><img src="img/skull40.png" /></span>

                       <h3 class="cbp-ig-title">Doenças</h3>

                       <span class="cbp-ig-category">Aprenda sobre algumas doenças relacionadas a má alimentação</span>

                   </a>
               </li>

               <li>

                   <a href="#">

                       <span class="cbp-ig-icon"><img src="img/french fries.png" /></span>

                       <h3 class="cbp-ig-title">FastFood</h3>

                       <span class="cbp-ig-category">texto</span>

                   </a>

               </li>

               <li>

                   <a href="#">

                       <span class="cbp-ig-icon"><img src="img/man465.png" /></span>

                       <h3 class="cbp-ig-title">Sobre nós</h3>

                       <span class="cbp-ig-category">Leia sobre quem somos</span>

                   </a>

               </li>

               <li>
                   <a href="calculo.html" target="_blank">
                       <span class="cbp-ig-icon"><img src="img/books27.png" /></span>
                       <h3 class="cbp-ig-title">Tutorial</h3>
                       <span class="cbp-ig-category">Aprenda sobre as medidas</span>
                   </a>
               </li>
           </ul>

       </div>
    </div>
</body>
</html>