
<html>
<head>
<title>Lista de Alimentos</title>	
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Carregando o CSS do Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/listaEstilo.css"/>
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css"/>

<link rel="stylesheet" type="text/css" href="../css/estilo.css"/>

<script>
function ordenar(){
var formulario = document.getElementById("form-ordenacao");
formulario.submit();
}
</script>


</head>	
<body>
<div class="container">
	<center>
		<h1> Lista Simples </h1> <br/>
		<h3> Alimentos </h3>
	<br/>
		<form id="form-ordenacao"  th:action="@{/}">
					<label> Ordenar por nome </label> 
					 <select name="opcao-ordenar">
  						<option value="nome">Nome</option>
  						<option value="cat">Categoria</option>
  						<option value="qtd">Quantidade</option>
					</select> 

					<label>Ordem Crescente</label><input type="checkbox" name="ordem-crescente" onclick="ordenar()"  />
				</form>

  


	</center>

	<div class="list-group">
		<div th:each="alimento : ${lists}">
			<a href="#" class="list-group-item">
				<div id="infoAlimento" class="media">
					<div id="imagemAlimento" class="media-left media-middle" >
						<img height="140px" width="140px" th:src="${alimento.urlImagem}" class="img-rounded media-object"/>
					</div>

					<div class="media-body">
						<h2 class="media-heading" th:text="${alimento.nomeAlimento}" id="alimento"></h2>


						<p id="categoria" th:text="${alimento.codCategoria}"></p>
					</div>
				</div>
			</a>

		</div>

</div>

	<!--
	<div class="list-group">
	  <a href="#" class="list-group-item">
		<div id="infoAlimento" class="media">	
			<div id="imagemAlimento" class="media-left media-middle" >
				<img height="140px" width="140px" src="../img/banana.png" class="img-rounded media-object"/>
			</div>

	  		<div class="media-body">
	   			 <h2 class="media-heading" id="alimento">Banana</h2>
	  		

	  			<p id="categoria">Fruta</p>
	  		</div>
		</div>  
	  </a>

	  <a href="#" class="list-group-item">
		<div id="infoAlimento" class="media">	
			<div id="imagemAlimento" class="media-left media-middle" >
				<img height="140px" width="140px" src="../img/morango.png" class="img-rounded media-object"/>
			</div>

	  		<div id="item" class="media-body">
	   			 <h2 class="media-heading" id="alimento">Morango</h2>
	  		

	  			<p id="categoria">Fruta</p>
	  		</div>
		</div>  
	  </a>

	  <a href="#" class="list-group-item">
		<div id="infoAlimento" class="media">	
			<div id="imagemAlimento" class="media-left media-middle" >
				<img height="140px" width="140px" src="../img/morango.png" class="img-rounded media-object"/>
			</div>

	  		<div id="item" class="media-body">
	   			 <h2 class="media-heading" id="alimento">Morango</h2>
	  		

	  			<p id="categoria">Fruta</p>
	  		</div>
		</div>  
	  </a>

	  <a href="#" class="list-group-item">
		<div id="infoAlimento" class="media">	
			<div id="imagemAlimento" class="media-left media-middle" >
				<img height="140px" width="140px" src="../img/morango.png" class="img-rounded media-object"/>
			</div>

	  		<div id="item" class="media-body">
	   			 <h2 class="media-heading" id="alimento">Morango</h2>
	  		

	  			<p id="categoria">Fruta</p>
	  		</div>
		</div>  
	  </a>

	  <a href="#" class="list-group-item">
		<div id="infoAlimento" class="media">	
			<div id="imagemAlimento" class="media-left media-middle">
				<img height="140px" width="140px" src="../img/morango.png" class="img-rounded media-object"/>
			</div>

	  		<div id="item" class="media-body">
	   			 <h2 class="media-heading" id="alimento">Morango</h2>
	  		

	  			<p id="categoria">Fruta</p>
	  		</div>
		</div>  
	  </a>


	  <a href="#" class="list-group-item">
		<div id="infoAlimento" class="media">	
			<div id="imagemAlimento" class="media-left media-middle">
				<img height="140px" width="140px" src="../img/morango.png" class="img-rounded media-object"/>
			</div>

	  		<div id="item" class="media-body">
	   			 <h2 class="media-heading" id="alimento">Morango</h2>
	  		

	  			<p id="categoria">Fruta</p>
	  		</div>
		</div>  
	  </a>


	 </div>
	 -->
	<center>
	
			 <nav>
  				<ul class="pagination">
 	    				<li>
	      				<a href="#" aria-label="Previous">
	        				<span aria-hidden="true">&laquo;</span>
	      				</a>
	    				</li>
	    				<li><a href="#">1</a></li>
	    				<li><a href="#">2</a></li>
	    				<li><a href="#">3</a></li>
	    				<li><a href="#">4</a></li>
	    				<li><a href="#">5</a></li>
	   				 	<li>
	     				 	<a href="#" aria-label="Next">
     						<span aria-hidden="true">&raquo;</span>
      						</a>
    					</li>
  					</ul>
				</nav>	
	</center>			
</div>






	
</body>
</html>