<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Lista de Alimentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css"/>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <script th:replace="fragmentos/header :: jquery"> </script>

    <script src="js/lista.js"> </script>

    <link rel="stylesheet" type="text/css" href="css/principal.css"/>

    <script>
        function ordenar(){
            var formulario = document.getElementById("form-ordenacao");
            formulario.submit();
        }
    </script>
</head>

<body>

    <nav th:replace="fragmentos/header :: cabecalho"></nav>

    <div class="container">

        <center>

            <h1> Lista Simples </h1>

            <br/>

            <div id="menu-categoria" class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary btn-lg">Cereais</button>
                <button type="button" class="btn btn-primary btn-lg">Frutas</button>
                <button type="button" class="btn btn-primary btn-lg">Verduras</button>
                <button type="button" class="btn btn-primary btn-lg">Legumes</button>
                <button type="button" class="btn btn-primary btn-lg">Carnes</button>
                <button type="button" class="btn btn-primary btn-lg">Laticínios</button>
                <button type="button" class="btn btn-primary btn-lg">Doces/Gorduras</button>
                <button type="button" class="btn btn-primary btn-lg">Bebidas</button>
            </div>

            <br/>
            <br/>

            <form id="form-ordenacao"  th:action="@{/lista}" method="GET">
                <label> Ordenar por nome </label>
                <select name="opcao-ordenar">
                    <option value="cre" onclick="ordenar()">Crescente</option>
                    <option value="decre" onclick="ordenar()">Descrescente</option>
                </select>
            </form>
        </center>

        <p th:text="${erro}"></p>

        <div class="list-group">
            <div th:each="alimento : ${alimentos}">
                <a th:href="@{'/detalheDoProduto?nomeAlimento=' + ${alimento.nomeAlimento}}" class="list-group-item">

                    <div id="infoAlimento" class="media">

                        <div id="imagemAlimento" class="media-left media-middle" >
                            <img height="140px" width="140px" th:src="${alimento.urlImagem}" class="img-rounded media-object"/>
                        </div>

                        <div class="media-body">
                            <h2 class="media-heading" th:text="${alimento.nomeAlimento}" id="alimento"></h2>

                            <p id="categoria" th:text="${alimento.codCategoria}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <center>
            <nav th:replace="fragmentos/footer :: paginacao"></nav>
        </center>

    </div>


</body>
</html>