<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>

    <title>Detalhe do Produto</title>
    <title>Login</title>
    <link href="css/formularioAlimento.css" rel="stylesheet"/>
    <link href="css/principal.css" rel="stylesheet"/>
    <link th:replace="fragmentos/header :: bootstrap-css" />
    <script th:replace="fragmentos/header :: jquery"> </script>
    <script th:replace="fragmentos/header :: jqueryui"> </script>
    <script th:replace="fragmentos/header :: bootstrap-js"> </script>
    <script th:replace="fragmentos/header :: formulario-alimento-js"> </script>
    <script src="js/validacoes.js"> </script>

</head>
<body>
    <nav th:replace="fragmentos/header :: cabecalho"></nav>

        <div class="titulo-login"><h1>Tela Login</h1></div>
        <div class="container-fluid">
            <div class="bloco-login">

                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form class="form-horizontal" th:action="@{/login}" th:object="${usuario}" method="POST">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <label for="inputEmail3" class="control-label">E-mail:</label>
                            <input type="email" name="username" class="form-control" id="inputEmail3" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <label for="inputPassword3" class="control-label">Senha:</label>
                            <a class="link-senha" href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">
                                Esqueci senha
                            </a>
                            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Senha"/>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/> Lembrar
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="submit" class="btn btn-default">Entrar</button>
                        </div>
                    </div>

                </form>




                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog ajuste-recuperar" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Recuperar senha</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form name="dados" onSubmit="return validarRecuperacao();" class="form-horizontal" th:object="${Usuario}" th:action="@{/login}" id="recuperarSenha" method="POST">
                                        <div class="form-group">
                                            <div class="col-sm-offset-4 col-sm-5">
                                                <label for="inputEmail3" class="control-label">E-mail:</label>
                                                <input onclick="alterandoDisplay();" name="inputEmail" type="text" class="form-control formbutton" id="inputEmail" placeholder="Email" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-4 col-sm-5 alert alert-danger" style="display: none; text-align:center;" id="trocaEmail">

                                                    <label for="inputEmail3">Preencha com um e-mail válido!</label>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-4 col-sm-4">
                                                <button type="submit" class="btn btn-default" id="submit" value="recuperar" onclick="return btnClick();">Recuperar</button>
                                            </div>
                                        </div>
                                        <div th:if="${sucesso} != null" th:text="${sucesso}" class="alert alert-success" role="alert">  </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button name="Submit" type="submit"  value="Enviar dados" class="btn btn-primary formobjects" data-dismiss="modal">Fechar</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <nav th:replace="fragmentos/rodape :: rodape"></nav>

</body>
</html>