<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Sobre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: flaticon-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <script th:replace="fragmentos/header :: jquery"> </script>
    <script th:replace="fragmentos/header :: jqueryui"> </script>
    <script th:replace="fragmentos/header :: bootstrap-js"> </script>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <link th:replace="fragmentos/header :: favicon-ico" />

    <link rel="stylesheet" type="text/css" href="css/sobre.css"/>


</head>
<body>
    <nav th:replace="fragmentos/header :: cabecalho"></nav>

    <div class="container wrapper-conteudo">

        <div class="row">

            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                <h1 class="text-center">Sobre nós</h1>
                <p class="text-left">
                    O Portal “Inimigos à Mesa?” é fruto de um projeto acadêmico inovador interdisciplinar relacionada às
                    áreas da nutrição, química e informática. A proposta surgiu como desafio a um grupo de acadêmicas de
                    nutrição a desenvolverem um trabalho interdisciplinar no seu trabalho de conclusão de curso. O desafio
                    foi grande, mas faltava muito para ele ficar do jeito que se queria...
                </p>
                <p class="text-left" >
                    Na busca de estratégia para aprimorá-lo, fomos selecionados no concurso promovido pela Aceleradora de
                    Métodos Ágeis, parceria do Centro de Inovação da PUC-RS com a THOUGHTWORKS e o Portal “Inimigos à Mesa?”
                    se transformou! O resultado está aí e tem como objetivo instrumentar a sociedade nas escolhas alimentares.
                </p>
                <p class="text-left">
                    O que levou a criação do Portal na Web relacionado à alimentação?
                </p>
                <p class="text-left">
                    A dificuldade em orientar a população em geral quanto a qualidade de alguns alimentos, principalmente em
                    relação ao teor de sódio, açúcar e gordura, que estão relacionados as doenças crônicas não transmissíveis,
                    como obesidade, diabetes, hipertensão, dislipidemias entre outras. Assim, nasceu o Portal <b>“Inimigos à Mesa?
                    Descubra o que você realmente come”</b>, com a descrição da quantidade de sódio (transformado em sal, para
                    facilitar a compreensão), açúcar e gordura dos alimentos amplamente consumidos pela população brasileira.
                    Este se propõe servir de suporte/apoio a promoção da saúde, e a educação nutricional.
                </p>
                <p class="text-left">
                    Convidamos você a navegar neste incrível mundo dos alimentos!
                </p>
            </div>
        </div>
        <div class="row">
            <h1 class="text-center">Equipe</h1>
            <h3 class="text-center">Idealizadores</h3>
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/happy-avocado.jpg"/>

                    </a>
                    <h4 class="text-center">Alessandra Pizzato</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/happy-avocado.jpg"/>
                    </a>
                    <h4 class="text-center">Tiziano Dalla Rosa</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/happy-avocado.jpg"/>
                    </a>
                    <h4 class="text-center">Dúnia Ilha Morel</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/happy-avocado.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Michael da Costa Móra</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <h3 class="text-center">Desenvolvedores</h3>

            <div class="row equipeFoto">


                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Abimael Alcebíades</h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Amanda Vieira</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Eduardo Fornari</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Guilherme Webber</h4>
                </div>

            </div>

            <div class="row equipeFoto">

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Johan Kovalsikoski</h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Juliana Torres</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Lucas Veloso</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Marcus Rodrigues</h4>
                </div>

            </div>
            <div class="row equipeFoto">

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Rafael Rodrigues</h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Raphael Braun</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Thiago Pellegrin</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Yasser Rachid</h4>
                </div>

            </div>
        </div>

        <div class="row">
            <h3 class="text-center">Mentores</h3>
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Alejandro Olchik </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Eduardo Braga</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Jean Kirchner</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">João Henrique</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Junior Vanin </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Leonardo Iglesias</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Melina Deraldo</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Patricia Durand</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Rafael Weiblen </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Tania Silva</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Thiago Xavier</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Wagner Andrade</h4>
                </div>
            </div>
        </div>
    </div>
    <nav th:replace="fragmentos/rodape :: rodape"></nav>
</body>
</html>