<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Sobre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:replace="fragmentos/header :: flaticon-css" />
    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <link th:replace="fragmentos/header :: favicon-ico"/>
    <link th:replace="fragmentos/header :: busca-icon" />
    <link th:replace="fragmentos/header :: busca-css"/>
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <script type="text/javascript" src="/js/home.js"/>

    <link rel="stylesheet" type="text/css" href="css/sobre.css"/>


</head>
<body>
    <nav th:replace="fragmentos/header :: cabecalho(${nomeUsuario})"></nav>

    <div class="titulos-paginas">
        <h1>Sobre nós</h1>
    </div>

    <div class="container">

        <div class="row">


            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">

                <p class="text-left">
                    O Portal Comer com Saber nasceu de um projeto inovador de trabalho de conclusão de curso. É uma proposta
                    interdisciplinar relacionada às áreas da nutrição, química e informática. A ideia surgiu pela dificuldade
                    que muitas pessoas encontram em entender o real conteúdo de nutrientes presentes nos rótulos dos alimentos,
                    e busca facilitar a compreensão da quantidade de sódio (sal), açúcar simples e gordura os alimentos de forma
                    ilustrativa por meio de colheres de chá.

                    Além da visualização dos nutrientes na porção desejada, o usuário também pode utilizar a ferramenta “Calculadora”,
                    adicionando diferentes alimentos de interesse e avaliar a quantidade de açúcar, sódio (sal) e gordura ingeridos de
                    forma conjunta, ilustradas em colheres de chá de cada um desses nutrientes.

                    Espera-se que essa ferramenta desperte uma visão crítica do indivíduo em relação ao que se está consumindo, para que
                    ele possa tornar-se mais proativo nas escolhas alimentares em relação à sua saúde.</p>
                <p class="text-left">
                    Fomento e Apoio Técnico:

                    Aceleradora de Métodos Ágeis, com parceria do Centro de Inovação da PUCRS

                    Thought Works.
                </p>
                <p class="text-left">
                    <h1 style="text-align: center;">Metodologia utilizada</h1>
                    <br/>
                    asfsasggsa

                </p>
            </div>
        </div>
        <div class="row">
            <h1 class="text-center">Equipe</h1>
            <h3 class="text-center">Coordenação </h3>
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/happy-avocado.jpg"/>

                    </a>
                    <h4 class="text-center">Profa. Alessandra Campani Pizzato </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/happy-avocado.jpg"/>
                    </a>
                    <h4 class="text-center">Nutricionista Dúnia Ilha Morel </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center">Projeto e Corpo Técnico </h3>

            <div class="row equipeFoto">


                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Prof. Michael Da Costa Mora  </h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Prof. Tiziano Dalla Rosa </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Nutricionista Bruna Petrucci </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Nutricionista Camila Fürer </h4>
                </div>

            </div>

            <div class="row equipeFoto">

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Nutricionista Eliane Mascarello </h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Nutricionista Priscila Antunes Marques </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail">
                        <img src="/img/equipe/coffee.jpg"/>
                    </a>
                    <h4 class="text-center">Nutricionista Vanessa Pradella Pires </h4>
                </div>

            </div>
        </div>
        <div class="row">
            <h3 class="text-center">Desenvolvedores</h3>

            <div class="row equipeFoto">


                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/abimael-alcebíades-farias-silva/6a/a1a/49" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/v1440509106/abimael_c3jmkv.jpg"/>
                    </a>
                    <h4 class="text-center">Abimael Alcebíades</h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/in/amandasilvavieira" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505791/amanda_4x3_900_efnb40.jpg"/>
                    </a>
                    <h4 class="text-center">Amanda Vieira</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/eduardo-segura-fornari/a7/728/a23" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505807/edu1_4x3_900_r0nnbm.jpg"/>
                    </a>
                    <h4 class="text-center">Eduardo Fornari</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/guilherme-webber-mendes/ba/a68/236" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505813/guilherme2_4x3_900_uinehc.jpg"/>
                    </a>
                    <h4 class="text-center">Guilherme Webber</h4>
                </div>

            </div>

            <div class="row equipeFoto">

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/johan-kovalsikoski/b3/a32/547" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505881/johan_4x3_900_i1uciy.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Johan Kovalsikoski</h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/juliana-torres/a3/353/b8/pt" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505828/ju_4x3_900_wc543c.jpg"/>
                    </a>
                    <h4 class="text-center">Juliana Torres</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/lucas-veloso/69/19b/55" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505831/lucas1_4x3_900_kvhkbc.jpg"/>
                    </a>
                    <h4 class="text-center">Lucas Veloso</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/marcus-rodrigues/59/824/787" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440506927/marcus2_4x3_900_qxuuvz.jpg"/>
                    </a>
                    <h4 class="text-center">Marcus Rodrigues</h4>
                </div>

            </div>
            <div class="row equipeFoto">

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/rafael-rodrigues/24/781/136" target="_blank">
                        <img src="/img/equipe/coffee.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Rafael Rodrigues</h4>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/raphael-braun/51/a29/633" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505843/rapha_4x3_900_sgsimd.jpg"/>
                    </a>
                    <h4 class="text-center">Raphael Braun</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/in/thiagogp" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440507091/thiago2_4x3_900_c0ylcf.jpg"/>
                    </a>
                    <h4 class="text-center">Thiago Pellegrin</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 perfil">
                    <a class="thumbnail" href="https://br.linkedin.com/pub/yasser-anuar-lima-othman-rachid/66/a54/936" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/v1440509830/yasser_hqthbf.jpg"/>
                    </a>
                    <h4 class="text-center">Yasser Rachid</h4>
                </div>

            </div>
        </div>

        <div class="row">
            <h3 class="text-center">Mentores</h3>
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/v1440510584/alej_ybw8cg.jpg"/>
                    </a>
                    <h4 class="text-center">Alejandro Olchik </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Eduardo Braga</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Jean Kirchner</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440508569/joao_4x3_900_k3sxil.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">João Henrique</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440509458/junior_zqrt4g.jpg"/>
                    </a>
                    <h4 class="text-center">Junior Vanin </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Leonardo Iglesias</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/v1440509831/melina2_slgsxb.jpg"/>
                    </a>
                    <h4 class="text-center">Melina Deraldo</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail" target="_blank">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440508164/pati1_4x3_900_lphzhv.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Patricia Durand</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/c_scale,w_400/v1440505836/rafael_4x3_900_beytkk.jpg"/>
                    </a>
                    <h4 class="text-center">Rafael Weiblen </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/v1440511626/tania_g5pnhw.jpg"/>
                    </a>
                    <h4 class="text-center">Tania Silva</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="http://res.cloudinary.com/dq5mndrjt/image/upload/v1440511219/thiago_gutyib.jpg"/>
                    </a>
                    <h4 class="text-center">Thiago Xavier</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">Wagner Andrade</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center">Fotografia</h3>
            <div class="row equipeFoto">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Alejandro Olchik </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Eduardo Braga</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg"/>
                    </a>
                    <h4 class="text-center">Jean Kirchner</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a class="thumbnail">
                        <img src="/img/equipe/owl.jpg" class="rounded"/>
                    </a>
                    <h4 class="text-center">João Henrique</h4>
                </div>
            </div>
        </div>
    </div>
    <nav th:replace="fragmentos/rodape :: rodape"></nav>
    <script src="/js/cbpAnimatedHeader.js"></script>
</body>
</html>